div(style='text-align: center; font-family: Arial;')
  img(src=host + '/assets/logo_dark_512.png' style="margin: 30px 0; height: 100px;")
  h2 #{name},
  p Sentimos que te marches. Tu cuenta estará eliminada por completo dentro de poco.
  p Si lo deseas, siempre puedes volver crearte una cuenta en el futuro.
  a(href=host + '/') Página de inicio de Hermes
  p(style="margin-top: 30px") Antes de irte, ¿por qué no nos cuentas en que podemos mejorar?
  a(href='#' style="display: inline-block; font-weight: 400; line-height: 1.5; text-align: center; text-decoration: none; vertical-align: middle; cursor: pointer; -webkit-user-select: none; -moz-user-select: none; user-select: none; border: 1px solid transparent; padding: .375rem .75rem; border-radius: .25rem; transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out; color: #fff; background-color: #0d6efd; border-color: #0d6efd;") Cuéntanos por qué te vas
  p(style="margin-top: 30px") El equipo de Hermes