div(style='text-align: center; font-family: Arial;')
  img(src=host + '/assets/logo_dark_512.png' style="margin: 30px 0; height: 100px;")
  h2 #{name},
  h1 ¡Bienvenida/o a Hermes!
  p Hermes es un sistema recomendador y planificador turístico, para facilitarte la tarea más tediosa de todo viaje: planificarlo
  a(href=host + '/dashboard/' style="display: inline-block; font-weight: 400; line-height: 1.5; text-align: center; text-decoration: none; vertical-align: middle; cursor: pointer; -webkit-user-select: none; -moz-user-select: none; user-select: none; border: 1px solid transparent; padding: .375rem .75rem; border-radius: .25rem; transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out; color: #fff; background-color: #0d6efd; border-color: #0d6efd;") ¡Aprende más!
  p(style="margin-top: 30px") ¡Esperamos que redescubras de nuevo tus viajes!
  p El equipo de Hermes