div(style='text-align: center; font-family: Arial;')
  img(src=host + '/assets/logo_dark_512.png' style="margin: 30px 0; height: 100px;")
  h2 #{name},
  p Recientemente se ha solicitado un cambio de contraseña. 
  p Si has sido tú, por favor, haz click en el siguiente enlace (estará disponible durante 15 minutos):
  a(href=host + '/recover/?token=' + token style="display: inline-block; font-weight: 400; line-height: 1.5; text-align: center; text-decoration: none; vertical-align: middle; cursor: pointer; -webkit-user-select: none; -moz-user-select: none; user-select: none; border: 1px solid transparent; padding: .375rem .75rem; border-radius: .25rem; transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out; color: #fff; background-color: #0d6efd; border-color: #0d6efd;") Cambiar contraseña
  p Si no has sido tu, te recomendamos ignorar este mensaje.
  p(style="margin-top: 30px") El equipo de Hermes