<div style="text-align: center; font-family: Arial">
    <img src="{{host}}/assets/logo_dark_512.png" style="margin: 30px 0; height: 100px" />
    <h2>{{name}},</h2>
    <h1>¡Bienvenida/o a Hermes!</h1>
    <p>
        Hermes es un sistema recomendador y planificador turístico, con una base da datos curada, <b>adaptado para tí</b>, a partir de tus puntuaciones y preferencias. En Hermes, solo te tienes que preocupar de <b>explorar</b>, <b>añadir</b> y pensar <b>cuando quieres descansar</b>.
    </p>
    <a
        href="{{host}}/dashboard/"
        style="
            display: inline-block;
            font-weight: 400;
            line-height: 1.5;
            text-align: center;
            text-decoration: none;
            vertical-align: middle;
            cursor: pointer;
            -webkit-user-select: none;
            -moz-user-select: none;
            user-select: none;
            border: 1px solid transparent;
            padding: 0.375rem 0.75rem;
            border-radius: 0.25rem;
            transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out,
                box-shadow 0.15s ease-in-out;
            color: #fff;
            background-color: #0d6efd;
            border-color: #0d6efd;
        "
    >
        ¡Aprende más!
    </a>
    <p style="margin-top: 30px">¡Esperamos que redescubras de nuevo tus viajes!</p>
    <p>El equipo de Hermes</p>
</div>
