/* 
 * Animations 
 */
@keyframes crossfade {
    0% {
        animation-timing-function: ease-in;
        opacity: 0;
    }
    2% {
        animation-timing-function: ease-out;
        opacity: 1;
    }
    17% {
        opacity: 1;
    }
    25% {
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}

/* Custom default button */
.btn-secondary,
.btn-secondary:hover,
.btn-secondary:focus {
    color: #333;
    text-shadow: none; /* Prevent inheritance from `body` */
}

/*
 * Base structure
 */
body {
    text-shadow: 0 0.05rem 0.1rem rgba(0, 0, 0, 0.5);
    box-shadow: inset 0 0 5rem rgba(0, 0, 0, 0.5);
}

.cover-container {
    max-width: 42em;
}

.cover-container-big {
    max-width: 64em;
}

/*
 * Logo
 */
.logo {
    margin-right: 1rem !important;
}

header {
    margin-right: 1rem;
}

/*
 * Background
 */
.cover {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: -1;
}
.background {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    box-shadow: inset 0 0 5rem rgba(0, 0, 0, 0.5);
    z-index: -2;
}

.background > figure {
    animation: crossfade 72s linear infinite 0s;

    backface-visibility: hidden;
    background-size: cover;
    background-position: center center;
    color: transparent;
    opacity: 0;

    height: 100%;
    width: 100%;

    position: absolute;
    top: 0px;
    left: 0px;

    margin: 0;
}

.background > figure:nth-child(1) {
    background-image: url("/assets/index/bg1.jpg");
}

.background > figure:nth-child(2) {
    animation-delay: 12s;
    background-image: url("/assets/index/bg2.jpg");
}

.background > figure:nth-child(3) {
    animation-delay: 24s;
    background-image: url("/assets/index/bg3.jpg");
}

.background > figure:nth-child(4) {
    animation-delay: 36s;
    background-image: url("/assets/index/bg4.jpg");
}

.background > figure:nth-child(5) {
    animation-delay: 48s;
    background-image: url("/assets/index/bg5.jpg");
}

.background > figure:nth-child(6) {
    animation-delay: 60s;
    background-image: url("/assets/index/bg6.jpg");
}

.card {
    color: #000;
    text-shadow: none;
}

@media (max-width: 768px) {
    .col.break {
        flex: none;
        width: 100%;
    }
}
