
/*
 * Navbar
 */
.navbar-brand {
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    font-size: 1rem;
    background-color: rgba(0, 0, 0, 0.25);
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, 0.25);
}

.logo {
    margin-right: 1rem !important;
}

.navbar .form-control {
    padding: 0.75rem 1rem;
    border-width: 0;
    border-radius: 0;
}

.navbar .form-control {
    padding: 0.75rem 1rem;
    border-width: 0;
    border-radius: 0;
}

.form-control-dark {
    color: #fff;
    background-color: rgba(255, 255, 255, 0.1);
    border-color: rgba(255, 255, 255, 0.1);
}

.form-control-dark:focus {
    border-color: transparent;
    box-shadow: 0 0 0 3px rgba(255, 255, 255, 0.25);
}

.form-control:disabled {
    border: none !important;
    background: transparent !important;
}

#name,
#description,
#start-date,
#end-date {
    color: #212529;
}

#name:disabled,
#description:disabled {
    color: #fff;
}

#start-date:disabled,
#end-date:disabled {
    color: #6c757d;
}

.leaflet-popup-content-wrapper {
    background-clip: border-box !important;
    background-color: #fff !important;
    border-radius: 0.25rem !important;
    border: 1px solid rgba(0, 0, 0, 0.125);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2) !important;
    display: flex;
    flex-direction: column;
    min-width: 0;
    padding: 0 !important;
    position: relative;
    word-wrap: break-word;
}

.leaflet-popup-close-button {
    background-color: rgba(0, 0, 0, 0.7) !important;
    border-radius: 50%;
    font-size: 1.5rem !important;
    height: 28px !important;
    padding-left: 4px !important;
    padding-top: 6px !important;
    right: 12px !important;
    top: 10px !important;
    width: 28px !important;
    z-index: 9 !important;
}

.leaflet-popup-content {
    margin: 0 !important;
}

.leaflet-popup-content .carousel {
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
}

.leaflet-custom-content {
    padding: 0.5rem 1rem;
}