---
openapi: 3.0.3
info:
  title: Hermes
  description: "Hermes is a system of recommendations and tourist planner, to facilitate the most tedious task of any trip: **planning it**.\n\nThis page documents Hermes REST API that is used by the frontend.\n\nMost of the endpoints need authentication. This is done by a cookie called `hermesSession`."
  version: 1.0.0
  contact: {}
servers:
  - url: "https://hermes.galisteo.me"
components:
  securitySchemes:
    hermesSession:
      description: When authentication is needed, the `hermesSession` session cookie is required. This has a value of a 255 char string.
      type: apiKey
      in: cookie
      name: hermesSession
paths:
  /api/account/download:
    get:
      security:
        - hermesSession: []
      tags:
        - Account
      summary: Download account data
      description: "Download account data, in order to comply with GDPR.\n\nReturns a JSON file."
      operationId: downloadAccountData
      responses:
        "200":
          description: ""
  /api/account/info:
    get:
      security:
        - hermesSession: []
      tags:
        - Account
      summary: Get account info
      description: Get an accounts info and preferences.
      operationId: getAccountInfo
      responses:
        "200":
          description: Get account info
          content:
            application/json:
              schema:
                type: object
                properties:
                  preferences:
                    type: array
                    items:
                      type: number
                      example: 35
                    example:
                      - 35
                      - 18
                      - 12
                      - 4
                      - 28
                      - 7
                      - 13
                      - 44
                      - 25
                      - 38
                      - 48
                      - 41
                  user:
                    type: object
                    properties:
                      email:
                        type: string
                        example: hermes@galisteo.me
                      name:
                        type: string
                        example: Alvaro
                      surname:
                        type: string
                        example: G.
              examples:
                Get account info:
                  value:
                    preferences:
                      - 35
                      - 18
                      - 12
                      - 4
                      - 28
                      - 7
                      - 13
                      - 44
                      - 25
                      - 38
                      - 48
                      - 41
                    user:
                      email: hermes@galisteo.me
                      name: Alvaro
                      surname: G.
  /api/account/update:
    put:
      security:
        - hermesSession: []
      tags:
        - Account
      summary: Update account info
      description: Update an accounts info and preferences
      operationId: updateAccountInfo
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                preferences:
                  type: array
                  items:
                    type: number
                    example: 35
                  example:
                    - 35
                    - 18
                    - 12
                    - 4
                    - 28
                    - 7
                    - 13
                    - 44
                    - 25
                    - 38
                    - 48
                    - 41
                    - 14
                    - 36
                    - 43
                user:
                  type: object
                  properties:
                    email:
                      type: string
                      example: hermes@galisteo.me
                    name:
                      type: string
                      example: Alvaro
                    surname:
                      type: string
                      example: G.
            example:
              preferences:
                - 35
                - 18
                - 12
                - 4
                - 28
                - 7
                - 13
                - 44
                - 25
                - 38
                - 48
                - 41
                - 14
                - 36
                - 43
              user:
                email: hermes@galisteo.me
                name: Alvaro
                surname: G.
      responses:
        "200":
          description: Successful update
          content: {}
        "400":
          description: Missing attributes
          content: {}
  /api/auth/delete:
    post:
      security:
        - hermesSession: []
      tags:
        - Auth
      summary: Delete an account
      description: "Checks a password and deletes the account if there's a coincidence."
      operationId: deleteAnAccount
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                password:
                  type: string
                  example: 5e884898da28047151d0e56f8dc6292773603d0d6aabbdd62a11ef721d1542d8
            example:
              password: 5e884898da28047151d0e56f8dc6292773603d0d6aabbdd62a11ef721d1542d8
      responses:
        "200":
          description: Successful delete
          content: {}
        "401":
          description: Password does not match
          content: {}
  /api/auth/check:
    post:
      security: []
      tags:
        - Auth
      summary: Check email and hCaptcha
      description: Check if an email exists in Hermes database and hCaptcha token is valid
      operationId: checkIfEmailExists
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                email:
                  type: string
                  example: hermes@galisteo.me
                hCaptcha:
                  type: string
                  example: P0_eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9...
            example:
              email: hermes@galisteo.me
              hCaptcha: P0_eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9...
      responses:
        "200":
          description: Email exists
          content:
            application/json:
              schema:
                type: object
                properties:
                  exists:
                    type: boolean
                    example: true
              examples:
                Email exists:
                  value:
                    exists: true
        "400":
          description: Missing or bad attributes
          content:
            text/plain:
              examples:
                Missing attribute:
                  value: ""
        "403":
          description: Invalid hCaptcha token
          content:
            text/plain:
              examples:
                Invalid hCaptcha token:
                  value: ""
  /api/auth/logout:
    get:
      security:
        - hermesSession: []
      tags:
        - Auth
      summary: Logout user
      description: Logs out a logged in user.
      operationId: logoutUser
      responses:
        "200":
          description: ""
        "301":
          description: Logout user
          headers:
            Location:
              schema:
                type: string
                example: /signin/
            Set-Cookie:
              schema:
                type: string
                example: "hermesSession=; Path=/; Expires=Sun, 11 Apr 2021 00:00:00 GMT;"
          content: {}
  /api/auth/logoutSessions:
    get:
      security:
        - hermesSession: []
      tags:
        - Auth
      summary: Logout all sessions
      description: Logs out all sessions except the requesting one.
      operationId: logoutAllSessions
      responses:
        "200":
          description: ""
  /api/auth/password/change:
    put:
      security: []
      tags:
        - Auth
      summary: Change password using a reset token
      description: "Resets the password of a user. Also deletes all sessions.\n\nPassword must be SHA256 hash of real password."
      operationId: changePasswordUsingAResetToken
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                password:
                  type: string
                  example: 5e884898da28047151d0e56f8dc6292773603d0d6aabbdd62a11ef721d1542d8
                token:
                  type: string
                  example: Vi0cFLenjohLpcEljcnW56vm5KIOlQIdK5BxlOGLjSIO4Ygvt7TuDcC2j4iE7R7D018Rpdcc8od6iMUZEuEdh2Ezbp0OBHGfZhn51A3UBcX0oBZ03m0FPifwfUd8772cTskBMgRgnbcCXQVIgJodnXw60gKwKvyqw3r0wiUDcA7KAL221W2Pq0BTwM5nX3keQmvsPAG0yedDD0vaKqSuZw2dfJ275xdmwb4wc6ONx9FtG2w4s6fqFONHzOZQzsT
            example:
              password: 5e884898da28047151d0e56f8dc6292773603d0d6aabbdd62a11ef721d1542d8
              token: Vi0cFLenjohLpcEljcnW56vm5KIOlQIdK5BxlOGLjSIO4Ygvt7TuDcC2j4iE7R7D018Rpdcc8od6iMUZEuEdh2Ezbp0OBHGfZhn51A3UBcX0oBZ03m0FPifwfUd8772cTskBMgRgnbcCXQVIgJodnXw60gKwKvyqw3r0wiUDcA7KAL221W2Pq0BTwM5nX3keQmvsPAG0yedDD0vaKqSuZw2dfJ275xdmwb4wc6ONx9FtG2w4s6fqFONHzOZQzsT
      responses:
        "200":
          description: Successful reset
          content: {}
        "400":
          description: Missing or bad attributes
          content: {}
  /api/auth/password/request:
    post:
      security: []
      tags:
        - Auth
      summary: Request password reset
      description: "Requests a password reset, sending an email."
      operationId: requestPasswordReset
      responses:
        "200":
          description: Request received
          content: {}
  /api/auth/password/update:
    put:
      security:
        - hermesSession: []
      tags:
        - Auth
      summary: Change password
      description: "Updates the password of a logged in user. Also deletes all sessions.\n\nPassword must be SHA256 hash of real password."
      operationId: changePassword
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                password:
                  type: string
                  example: 0b14d501a594442a01c6859541bcb3e8164d183d32937b851835442f69d5c94e
            example:
              password: 0b14d501a594442a01c6859541bcb3e8164d183d32937b851835442f69d5c94e
      responses:
        "200":
          description: Successful change
          content: {}
        "400":
          description: Missing or bad attribute
          content: {}
  /api/auth/signin:
    post:
      security: []
      tags:
        - Auth
      summary: Login user
      description: "Logs in a user.\n\nIf `remember` is set, session is kept for 7 days, instead of 24 hours.\n\nPassword must be SHA256 hash of real password."
      operationId: loginUser
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                email:
                  type: string
                  example: hermes@galisteo.me
                password:
                  type: string
                  example: 5e884898da28047151d0e56f8dc6292773603d0d6aabbdd62a11ef721d1542d8
                remember:
                  type: boolean
                  example: true
            example:
              email: hermes@galisteo.me
              password: 5e884898da28047151d0e56f8dc6292773603d0d6aabbdd62a11ef721d1542d8
              remember: true
      responses:
        "200":
          description: Successful login
          headers:
            Set-Cookie:
              schema:
                type: string
                example: "hermesSession=fTjxWw6V0URfKByuTgF0WXTo2vq05rrIKQrMzLuF1ZJ0FJPSBARfYtR8iSlcsuaI4JIdETpVWwaXeitP35vBaH7kovupVCMPnBvN0xXQHvPP2mjza0BF6GwOoQvjV1qIYbM7OmZLQ0Wi1XSCIlb5pHRuSNObOuMFqIDojWdlDzcmKuyUF8wlMdaoDbVE3OIcOs3TPKCBkXeXl8JrnBDvuPHkdWb3ATzPLlaMykVP3Nwr0USQosVNyiJSAFikZCW.rCvkESdfTiRdzP0iRVl3%2B%2Bfc6hWf%2FgH2532UpxS56b4; Path=/; Expires=Sun, 11 Apr 2021 11:33:58 GMT;"
          content:
            text/plain:
              examples:
                Successful login:
                  value: ""
        "400":
          description: Missing or bad attributes
          content:
            text/plain:
              examples:
                Missing or bad attributes:
                  value: ""
        "401":
          description: Username or password does not match
          content:
            text/plain:
              examples:
                Username or password does not match:
                  value: ""
  /api/auth/signup:
    post:
      security: []
      tags:
        - Auth
      summary: Create a new user
      description: "Creates a new user in Hermes. `preferences` requires a minimum of 3 items.\n\nPassword must be SHA256 hash of real password."
      operationId: createANewUser
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                country:
                  type: string
                  example: ES
                email:
                  type: string
                  example: hermes@galisteo.me
                name:
                  type: string
                  example: Alvaro
                password:
                  type: string
                  example: 5e884898da28047151d0e56f8dc6292773603d0d6aabbdd62a11ef721d1542d8
                preferences:
                  type: array
                  items:
                    type: number
                    example: 18
                  example:
                    - 18
                    - 12
                    - 4
                    - 28
                    - 7
                    - 13
                    - 44
                    - 25
                    - 38
                    - 48
                    - 41
                    - 14
                    - 36
                    - 43
                surname:
                  type: string
                  example: Galisteo
            example:
              country: ES
              email: hermes@galisteo.me
              name: Alvaro
              password: 5e884898da28047151d0e56f8dc6292773603d0d6aabbdd62a11ef721d1542d8
              preferences:
                - 18
                - 12
                - 4
                - 28
                - 7
                - 13
                - 44
                - 25
                - 38
                - 48
                - 41
                - 14
                - 36
                - 43
              surname: Galisteo
      responses:
        "200":
          description: Successful signup
          headers:
            Set-Cookie:
              schema:
                type: string
                example: "hermesSession=fTjxWw6V0URfKByuTgF0WXTo2vq05rrIKQrMzLuF1ZJ0FJPSBARfYtR8iSlcsuaI4JIdETpVWwaXeitP35vBaH7kovupVCMPnBvN0xXQHvPP2mjza0BF6GwOoQvjV1qIYbM7OmZLQ0Wi1XSCIlb5pHRuSNObOuMFqIDojWdlDzcmKuyUF8wlMdaoDbVE3OIcOs3TPKCBkXeXl8JrnBDvuPHkdWb3ATzPLlaMykVP3Nwr0USQosVNyiJSAFikZCW.rCvkESdfTiRdzP0iRVl3%2B%2Bfc6hWf%2FgH2532UpxS56b4; Path=/; Expires=Sun, 11 Apr 2021 11:33:58 GMT;"
          content: {}
        "400":
          description: Missing or bad attributes
          content: {}
        "403":
          description: User already exists
          content: {}
  "/api/places/info/{id}":
    get:
      security:
        - hermesSession: []
      tags:
        - Places
      summary: Get place info
      description: Get information about a place.
      operationId: getPlaceInfo
      responses:
        "200":
          description: Get place info
          content:
            application/json:
              schema:
                type: object
                properties:
                  place:
                    type: object
                    properties:
                      address:
                        type: string
                        example: "Paseo de las Delicias, 61"
                      categories:
                        type: array
                        items:
                          type: string
                          example: Museos de arte
                        example:
                          - Museos de arte
                          - Lugares históricos
                          - Museos
                      city:
                        type: string
                        example: Madrid
                      country:
                        type: string
                        example: España
                      description:
                        type: string
                        example: "Museo de la historia del ferrocarril en una antigua gran estación, con vagones, locomotoras y documentos."
                      facebook:
                        type: string
                        nullable: true
                        example: ~
                      fsqId:
                        type: string
                        example: 4adcda39f964a5209f3c21e3
                      gmapsUrl:
                        type: string
                        example: "https://www.google.com/maps/search/Museo+del+Ferrocarril+(Antigua+Estaci%C3%B3n+de+Delicias)+Madrid/@40.398767,-3.6926109,18z/data=!3m1!4b1"
                      id:
                        type: number
                        example: 39
                      images:
                        type: number
                        example: 1
                        description: "Number of images that the place has.\nImages are stored in `/assets/places/{placeId}/{imageCount}.jpg`"
                      instagram:
                        type: string
                        nullable: true
                        example: ~
                      lat:
                        type: number
                        example: 40.3993
                      lon:
                        type: number
                        example: -3.69215
                      name:
                        type: string
                        example: Museo del Ferrocarril
                      osmId:
                        type: string
                        example: node/317911511
                      phone:
                        type: string
                        nullable: true
                        example: +34 902 22 88 22
                      placeUrl:
                        type: string
                        nullable: true
                        example: "http://www.museodelferrocarril.org"
                      postalCode:
                        type: string
                        example: "28045"
                      rating:
                        type: number
                        example: 4.5
                      state:
                        type: string
                        example: Comunidad de Madrid
                      timeSpent:
                        type: number
                        example: 2
                      tripadvisorUrl:
                        nullable: true
                        example: ~
                      twitter:
                        type: string
                        nullable: true
                        example: m_ferrocarril
                      wheelchair:
                        type: boolean
                        example: true
                      wikidata:
                        type: string
                        nullable: true
                        example: Q6034436
                      wikipedia:
                        type: string
                        nullable: true
                        example: "es:Museo del Ferrocarril de Madrid"
              examples:
                Get place info:
                  value:
                    place:
                      address: "Paseo de las Delicias, 61"
                      categories:
                        - Museos de arte
                        - Lugares históricos
                        - Museos
                      city: Madrid
                      country: España
                      description: "Museo de la historia del ferrocarril en una antigua gran estación, con vagones, locomotoras y documentos."
                      facebook: ~
                      fsqId: 4adcda39f964a5209f3c21e3
                      gmapsUrl: "https://www.google.com/maps/search/Museo+del+Ferrocarril+(Antigua+Estaci%C3%B3n+de+Delicias)+Madrid/@40.398767,-3.6926109,18z/data=!3m1!4b1"
                      id: 39
                      images: 1
                      instagram: ~
                      lat: 40.3993
                      lon: -3.69215
                      name: Museo del Ferrocarril
                      osmId: node/317911511
                      phone: +34 902 22 88 22
                      placeUrl: "http://www.museodelferrocarril.org"
                      postalCode: "28045"
                      rating: 0
                      state: Comunidad de Madrid
                      timeSpent: 2
                      tripadvisorUrl: ~
                      twitter: m_ferrocarril
                      wheelchair: true
                      wikidata: Q6034436
                      wikipedia: "es:Museo del Ferrocarril de Madrid"
        "404":
          description: Place not found
          content:
            text/plain:
              examples:
                Place not found:
                  value: ""
    parameters:
      - name: id
        in: path
        required: true
        schema:
          type: number
          example: 39
  /api/places/random:
    post:
      security: []
      tags:
        - Places
      summary: Get random places
      description: "Get 5 random places. If `ignores` is set, search will ignore this places."
      operationId: getRandomPlaces
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                ignores:
                  type: array
                  nullable: true
                  items:
                    type: number
                    example: 35
                  example:
                    - 35
                    - 18
                    - 12
                    - 4
                    - 28
                    - 7
                    - 13
                    - 44
                    - 25
                    - 38
                    - 48
                    - 41
                    - 14
                    - 36
                    - 43
      responses:
        "200":
          description: Get random places
          content:
            application/json:
              schema:
                type: object
                properties:
                  places:
                    type: array
                    items:
                      type: object
                      properties:
                        categories:
                          type: array
                          items:
                            type: string
                            example: Museos
                          example:
                            - Museos
                            - Museos de arte
                        description:
                          type: string
                          example: "Más de 60 salas de exposiciones de piezas decorativas, muchas de las cuales datan de los siglos XVI y XVII."
                        id:
                          type: number
                          example: 55
                        name:
                          type: string
                          example: Museo Nacional de Artes Decorativas
                        placeUrl:
                          type: string
                          nullable: true
                          example: "http://mnartesdecorativas.mcu.es"
                        wikipedia:
                          type: string
                          nullable: true
                          example: ~
                    example:
                      - categories:
                          - Museos
                          - Museos de arte
                        description: "Más de 60 salas de exposiciones de piezas decorativas, muchas de las cuales datan de los siglos XVI y XVII."
                        id: 55
                        name: Museo Nacional de Artes Decorativas
                        placeUrl: "http://mnartesdecorativas.mcu.es"
                        wikipedia: ~
                      - categories:
                          - Parques
                          - Jardínes
                          - Monumentos
                        description: "El Bosque del Recuerdo es un monumento homenaje a las 191 víctimas de los atentados del 11 de marzo de 2004 en Madrid y al agente de las fuerzas especiales muerto con el atentado suicida el 3 de abril de 2004. Consta de 118 áreas con 192 árboles (22 olivos y 170 cipreses), uno por cada asesinado."
                        id: 60
                        name: Bosque del Recuerdo
                        placeUrl: ~
                        wikipedia: "es:Bosque del Recuerdo"
                      - categories:
                          - Esculturas al aire libre
                          - Monumentos
                          - Lugares históricos
                        description: Origen kilométrico de las carreteras españolas.Consiste en una placa en el suelo
                        id: 140
                        name: Kilómetro 0
                        placeUrl: ~
                        wikipedia: "es:Anexo:Carreteras Radiales de España#Kilómetro_cero"
                      - categories:
                          - Plazas públicas
                        description: Pequeño espacio peatonal conocido como el corazón de la comunidad gay.
                        id: 177
                        name: Plaza de Chueca
                        placeUrl: ~
                        wikipedia: "es:Plaza_de_Chueca"
                      - categories:
                          - Galerías de arte
                        description: Galería de arte contemporánea
                        id: 192
                        name: Galería standARTe
                        placeUrl: ~
                        wikipedia: ~
              examples:
                Get random places:
                  value:
                    places:
                      - categories:
                          - Museos
                          - Museos de arte
                        description: "Más de 60 salas de exposiciones de piezas decorativas, muchas de las cuales datan de los siglos XVI y XVII."
                        id: 55
                        name: Museo Nacional de Artes Decorativas
                        placeUrl: "http://mnartesdecorativas.mcu.es"
                        wikipedia: ~
                      - categories:
                          - Parques
                          - Jardínes
                          - Monumentos
                        description: "El Bosque del Recuerdo es un monumento homenaje a las 191 víctimas de los atentados del 11 de marzo de 2004 en Madrid y al agente de las fuerzas especiales muerto con el atentado suicida el 3 de abril de 2004. Consta de 118 áreas con 192 árboles (22 olivos y 170 cipreses), uno por cada asesinado."
                        id: 60
                        name: Bosque del Recuerdo
                        placeUrl: ~
                        wikipedia: "es:Bosque del Recuerdo"
                      - categories:
                          - Esculturas al aire libre
                          - Monumentos
                          - Lugares históricos
                        description: Origen kilométrico de las carreteras españolas.Consiste en una placa en el suelo
                        id: 140
                        name: Kilómetro 0
                        placeUrl: ~
                        wikipedia: "es:Anexo:Carreteras Radiales de España#Kilómetro_cero"
                      - categories:
                          - Plazas públicas
                        description: Pequeño espacio peatonal conocido como el corazón de la comunidad gay.
                        id: 177
                        name: Plaza de Chueca
                        placeUrl: ~
                        wikipedia: "es:Plaza_de_Chueca"
                      - categories:
                          - Galerías de arte
                        description: Galería de arte contemporánea
                        id: 192
                        name: Galería standARTe
                        placeUrl: ~
                        wikipedia: ~
  "/api/places/search/{query}":
    get:
      security:
        - hermesSession: []
      tags:
        - Places
      summary: Search places
      description: "Search for a place.\n\nIf no place is found, `result` is empty."
      operationId: searchPlaces
      responses:
        "200":
          description: Search specific place
          content:
            application/json:
              schema:
                type: object
                properties:
                  result:
                    type: array
                    items:
                      type: object
                      properties:
                        address:
                          type: string
                          example: "Calle Ruiz de Alarcón, 23"
                        categories:
                          type: array
                          items:
                            type: string
                            example: Museos de arte
                          example:
                            - Museos de arte
                            - Museos
                        city:
                          type: string
                          example: Madrid
                        country:
                          type: string
                          example: España
                        description:
                          type: string
                          example: "Colección de obras de arte de los siglos XII a XIX y obras maestras de Velázquez, Goya y el Greco."
                        facebook:
                          type: string
                          nullable: true
                          example: "139425773362"
                        fsqId:
                          type: string
                          example: 4adcda37f964a520fd3b21e3
                        gmapsUrl:
                          type: string
                          example: "https://www.google.com/maps/place/Museo+Nacional+del+Prado/@40.4137818,-3.6921271,17z/data=!3m1!4b1!4m5!3m4!1s0xd42289d66d8a2ed:0x1094f07d93ad885a!8m2!3d40.4137818!4d-3.6921271"
                        id:
                          type: number
                          example: 43
                        images:
                          type: number
                          example: 1
                          description: "Number of images that the place has.\nImages are stored in `/assets/places/{placeId}/{imageCount}.jpg`"
                        instagram:
                          type: string
                          nullable: true
                          example: museoprado
                        lat:
                          type: number
                          example: 40.4138
                        lon:
                          type: number
                          example: -3.69201
                        name:
                          type: string
                          example: Museo Nacional del Prado
                        osmId:
                          type: string
                          example: relation/7726080
                        phone:
                          type: string
                          nullable: true
                          example: +34 913 30 28 00
                        placeUrl:
                          type: string
                          nullable: true
                          example: "http://www.museodelprado.es"
                        postalCode:
                          type: string
                          example: "28014"
                        rating:
                          type: number
                          example: 5
                        state:
                          type: string
                          example: Comunidad de Madrid
                        timeSpent:
                          type: number
                          example: 3
                        tripadvisorUrl:
                          type: string
                          nullable: true
                          example: ~
                        twitter:
                          type: string
                          nullable: true
                          example: museodelprado
                        wheelchair:
                          type: boolean
                          example: true
                        wikidata:
                          type: string
                          nullable: true
                          example: Q160112
                        wikipedia:
                          type: string
                          nullable: true
                          example: "es:Museo del Prado"
                    example:
                      - address: "Calle Ruiz de Alarcón, 23"
                        categories:
                          - Museos de arte
                          - Museos
                        city: Madrid
                        country: España
                        description: "Colección de obras de arte de los siglos XII a XIX y obras maestras de Velázquez, Goya y el Greco."
                        facebook: "139425773362"
                        fsqId: 4adcda37f964a520fd3b21e3
                        gmapsUrl: "https://www.google.com/maps/place/Museo+Nacional+del+Prado/@40.4137818,-3.6921271,17z/data=!3m1!4b1!4m5!3m4!1s0xd42289d66d8a2ed:0x1094f07d93ad885a!8m2!3d40.4137818!4d-3.6921271"
                        id: 43
                        images: 1
                        instagram: museoprado
                        lat: 40.4138
                        lon: -3.69201
                        name: Museo Nacional del Prado
                        osmId: relation/7726080
                        phone: +34 913 30 28 00
                        placeUrl: "http://www.museodelprado.es"
                        postalCode: "28014"
                        rating: 5
                        state: Comunidad de Madrid
                        timeSpent: 3
                        tripadvisorUrl: ~
                        twitter: museodelprado
                        wheelchair: true
                        wikidata: Q160112
                        wikipedia: "es:Museo del Prado"
              examples:
                Search specific place:
                  value:
                    result:
                      - address: "Calle Ruiz de Alarcón, 23"
                        categories:
                          - Museos de arte
                          - Museos
                        city: Madrid
                        country: España
                        description: "Colección de obras de arte de los siglos XII a XIX y obras maestras de Velázquez, Goya y el Greco."
                        facebook: "139425773362"
                        fsqId: 4adcda37f964a520fd3b21e3
                        gmapsUrl: "https://www.google.com/maps/place/Museo+Nacional+del+Prado/@40.4137818,-3.6921271,17z/data=!3m1!4b1!4m5!3m4!1s0xd42289d66d8a2ed:0x1094f07d93ad885a!8m2!3d40.4137818!4d-3.6921271"
                        id: 43
                        images: 1
                        instagram: museoprado
                        lat: 40.4138
                        lon: -3.69201
                        name: Museo Nacional del Prado
                        osmId: relation/7726080
                        phone: +34 913 30 28 00
                        placeUrl: "http://www.museodelprado.es"
                        postalCode: "28014"
                        rating: 5
                        state: Comunidad de Madrid
                        timeSpent: 3
                        tripadvisorUrl: ~
                        twitter: museodelprado
                        wheelchair: true
                        wikidata: Q160112
                        wikipedia: "es:Museo del Prado"
    post:
      security:
        - hermesSession: []
      tags:
        - Places
      summary: Search places
      description: "Search for a place. If `ignores` is set, search will ignore this places.\n\nIf no place is found, `result` is empty."
      operationId: searchPlaces1
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                ignores:
                  type: array
                  nullable: true
                  items:
                    type: number
                    example: 35
                  example:
                    - 35
                    - 18
                    - 12
                    - 4
                    - 28
                    - 7
                    - 13
                    - 44
                    - 25
                    - 38
                    - 48
                    - 41
                    - 14
                    - 36
                    - 43
      responses:
        "200":
          description: Search multiple places with ignores
          content:
            application/json:
              schema:
                type: object
                properties:
                  result:
                    type: array
                    items:
                      type: object
                      properties:
                        address:
                          type: string
                          example: "Calle Ruiz de Alarcón, 23"
                        categories:
                          type: array
                          items:
                            type: string
                            example: Museos de arte
                          example:
                            - Museos de arte
                            - Museos
                        city:
                          type: string
                          example: Madrid
                        country:
                          type: string
                          example: España
                        description:
                          type: string
                          example: "Colección de obras de arte de los siglos XII a XIX y obras maestras de Velázquez, Goya y el Greco."
                        facebook:
                          type: string
                          nullable: true
                          example: "139425773362"
                        fsqId:
                          type: string
                          example: 4adcda37f964a520fd3b21e3
                        gmapsUrl:
                          type: string
                          example: "https://www.google.com/maps/place/Museo+Nacional+del+Prado/@40.4137818,-3.6921271,17z/data=!3m1!4b1!4m5!3m4!1s0xd42289d66d8a2ed:0x1094f07d93ad885a!8m2!3d40.4137818!4d-3.6921271"
                        id:
                          type: number
                          example: 43
                        images:
                          type: number
                          example: 1
                          description: "Number of images that the place has.\nImages are stored in `/assets/places/{placeId}/{imageCount}.jpg`"
                        instagram:
                          type: string
                          nullable: true
                          example: museoprado
                        lat:
                          type: number
                          example: 40.4138
                        lon:
                          type: number
                          example: -3.69201
                        name:
                          type: string
                          example: Museo Nacional del Prado
                        osmId:
                          type: string
                          example: relation/7726080
                        phone:
                          type: string
                          nullable: true
                          example: +34 913 30 28 00
                        placeUrl:
                          type: string
                          nullable: true
                          example: "http://www.museodelprado.es"
                        postalCode:
                          type: string
                          example: "28014"
                        rating:
                          type: number
                          example: 5
                        state:
                          type: string
                          example: Comunidad de Madrid
                        timeSpent:
                          type: number
                          example: 3
                        tripadvisorUrl:
                          type: string
                          nullable: true
                          example: ~
                        twitter:
                          type: string
                          nullable: true
                          example: museodelprado
                        wheelchair:
                          type: boolean
                          example: true
                        wikidata:
                          type: string
                          nullable: true
                          example: Q160112
                        wikipedia:
                          type: string
                          nullable: true
                          example: "es:Museo del Prado"
                    example:
                      - address: "Calle Ruiz de Alarcón, 23"
                        categories:
                          - Museos de arte
                          - Museos
                        city: Madrid
                        country: España
                        description: "Colección de obras de arte de los siglos XII a XIX y obras maestras de Velázquez, Goya y el Greco."
                        facebook: "139425773362"
                        fsqId: 4adcda37f964a520fd3b21e3
                        gmapsUrl: "https://www.google.com/maps/place/Museo+Nacional+del+Prado/@40.4137818,-3.6921271,17z/data=!3m1!4b1!4m5!3m4!1s0xd42289d66d8a2ed:0x1094f07d93ad885a!8m2!3d40.4137818!4d-3.6921271"
                        id: 43
                        images: 1
                        instagram: museoprado
                        lat: 40.4138
                        lon: -3.69201
                        name: Museo Nacional del Prado
                        osmId: relation/7726080
                        phone: +34 913 30 28 00
                        placeUrl: "http://www.museodelprado.es"
                        postalCode: "28014"
                        rating: 5
                        state: Comunidad de Madrid
                        timeSpent: 3
                        tripadvisorUrl: ~
                        twitter: museodelprado
                        wheelchair: true
                        wikidata: Q160112
                        wikipedia: "es:Museo del Prado"
                      - address: "Avenida Juan de Herrera, 2"
                        categories:
                          - Museos de arte
                          - Museos de historia
                          - Museos
                        city: Madrid
                        country: España
                        description: "Edificio de carácter monumental, construido en 1969. Su objetivo es promover el conocimiento de la evolución histórica de la indumentaria y de los testimonios del patrimonio etnológico representativos de las culturas de los pueblos de España."
                        facebook: "357948369351"
                        fsqId: 4adcda39f964a520bd3c21e3
                        gmapsUrl: "https://www.google.com/maps/place/Museo+del+Traje/@40.4400889,-3.7298308,18.75z/data=!4m12!1m6!3m5!1s0xd4228397bb6de69:0xb057d9a324696202!2sCaf%C3%A9+de+Oriente+(Ubicado+en+el+Museo+del+Traje)!8m2!3d40.4400972!4d-3.7296806!3m4!1s0xd422968da3782d3:0x48d7713174738e82!8m2!3d40.4401358!4d-3.7286856"
                        id: 90
                        images: 2
                        instagram: ~
                        lat: 40.4401
                        lon: -3.72884
                        name: Museo del Traje
                        osmId: relation/2027964
                        phone: +34 915 50 47 00
                        placeUrl: "http://museodeltraje.mcu.es"
                        postalCode: "28040"
                        rating: 0
                        state: Comunidad de Madrid
                        timeSpent: 2
                        tripadvisorUrl: ~
                        twitter: museodeltraje
                        wheelchair: true
                        wikidata: Q9047135
                        wikipedia: "es:Museo del Traje (Madrid)"
                      - address: "Calle de San Mateo, 13"
                        categories:
                          - Museos de arte
                          - Museos
                        city: Madrid
                        country: España
                        description: "Palacio del s. XVIII con pinturas y mobiliario de la época romántica, además de una cafetería en el jardín."
                        facebook: ~
                        fsqId: 4c62ceed79d1e21e7ef5d615
                        gmapsUrl: "https://www.google.com/maps/place/Museo+del+Romanticismo/@40.4258364,-3.6988403,17z/data=!3m1!4b1!4m5!3m4!1s0xd42288920b0b775:0x27cd4c564fdc2d65!8m2!3d40.4258364!4d-3.6988403"
                        id: 159
                        images: 2
                        instagram: ~
                        lat: 40.4259
                        lon: -3.69878
                        name: Museo del Romanticismo
                        osmId: way/174852233
                        phone: +34 914 48 10 45
                        placeUrl: "http://museoromanticismo.mcu.es/index.html"
                        postalCode: "28004"
                        rating: 0
                        state: Comunidad de Madrid
                        timeSpent: 2
                        tripadvisorUrl: ~
                        twitter: mromanticismo
                        wheelchair: true
                        wikidata: Q6974501
                        wikipedia: "es:Museo Nacional del Romanticismo (Madrid)"
              examples:
                Search multiple places with ignores:
                  value:
                    result:
                      - address: "Calle Ruiz de Alarcón, 23"
                        categories:
                          - Museos de arte
                          - Museos
                        city: Madrid
                        country: España
                        description: "Colección de obras de arte de los siglos XII a XIX y obras maestras de Velázquez, Goya y el Greco."
                        facebook: "139425773362"
                        fsqId: 4adcda37f964a520fd3b21e3
                        gmapsUrl: "https://www.google.com/maps/place/Museo+Nacional+del+Prado/@40.4137818,-3.6921271,17z/data=!3m1!4b1!4m5!3m4!1s0xd42289d66d8a2ed:0x1094f07d93ad885a!8m2!3d40.4137818!4d-3.6921271"
                        id: 43
                        images: 1
                        instagram: museoprado
                        lat: 40.4138
                        lon: -3.69201
                        name: Museo Nacional del Prado
                        osmId: relation/7726080
                        phone: +34 913 30 28 00
                        placeUrl: "http://www.museodelprado.es"
                        postalCode: "28014"
                        rating: 5
                        state: Comunidad de Madrid
                        timeSpent: 3
                        tripadvisorUrl: ~
                        twitter: museodelprado
                        wheelchair: true
                        wikidata: Q160112
                        wikipedia: "es:Museo del Prado"
                      - address: "Avenida Juan de Herrera, 2"
                        categories:
                          - Museos de arte
                          - Museos de historia
                          - Museos
                        city: Madrid
                        country: España
                        description: "Edificio de carácter monumental, construido en 1969. Su objetivo es promover el conocimiento de la evolución histórica de la indumentaria y de los testimonios del patrimonio etnológico representativos de las culturas de los pueblos de España."
                        facebook: "357948369351"
                        fsqId: 4adcda39f964a520bd3c21e3
                        gmapsUrl: "https://www.google.com/maps/place/Museo+del+Traje/@40.4400889,-3.7298308,18.75z/data=!4m12!1m6!3m5!1s0xd4228397bb6de69:0xb057d9a324696202!2sCaf%C3%A9+de+Oriente+(Ubicado+en+el+Museo+del+Traje)!8m2!3d40.4400972!4d-3.7296806!3m4!1s0xd422968da3782d3:0x48d7713174738e82!8m2!3d40.4401358!4d-3.7286856"
                        id: 90
                        images: 2
                        instagram: ~
                        lat: 40.4401
                        lon: -3.72884
                        name: Museo del Traje
                        osmId: relation/2027964
                        phone: +34 915 50 47 00
                        placeUrl: "http://museodeltraje.mcu.es"
                        postalCode: "28040"
                        rating: 0
                        state: Comunidad de Madrid
                        timeSpent: 2
                        tripadvisorUrl: ~
                        twitter: museodeltraje
                        wheelchair: true
                        wikidata: Q9047135
                        wikipedia: "es:Museo del Traje (Madrid)"
                      - address: "Calle de San Mateo, 13"
                        categories:
                          - Museos de arte
                          - Museos
                        city: Madrid
                        country: España
                        description: "Palacio del s. XVIII con pinturas y mobiliario de la época romántica, además de una cafetería en el jardín."
                        facebook: ~
                        fsqId: 4c62ceed79d1e21e7ef5d615
                        gmapsUrl: "https://www.google.com/maps/place/Museo+del+Romanticismo/@40.4258364,-3.6988403,17z/data=!3m1!4b1!4m5!3m4!1s0xd42288920b0b775:0x27cd4c564fdc2d65!8m2!3d40.4258364!4d-3.6988403"
                        id: 159
                        images: 2
                        instagram: ~
                        lat: 40.4259
                        lon: -3.69878
                        name: Museo del Romanticismo
                        osmId: way/174852233
                        phone: +34 914 48 10 45
                        placeUrl: "http://museoromanticismo.mcu.es/index.html"
                        postalCode: "28004"
                        rating: 0
                        state: Comunidad de Madrid
                        timeSpent: 2
                        tripadvisorUrl: ~
                        twitter: mromanticismo
                        wheelchair: true
                        wikidata: Q6974501
                        wikipedia: "es:Museo Nacional del Romanticismo (Madrid)"
    parameters:
      - name: query
        in: path
        required: true
        schema:
          type: string
          example: "museo de"
  /api/plans/create:
    post:
      security:
        - hermesSession: []
      tags:
        - Planner
      summary: Create a new plan
      description: Creates a new plan.
      operationId: createANewPlan
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                dayEnd:
                  type: number
                  example: 1080
                dayStart:
                  type: number
                  example: 540
                description:
                  type: string
                  nullable: true
                  example: Ruta por lugares importantes de Madrid
                endDate:
                  type: string
                  example: "2021-05-02T00:00:00.000Z"
                name:
                  type: string
                  example: Visita por Madrid
                places:
                  type: array
                  items:
                    type: number
                    example: 2
                  example:
                    - 2
                    - 21
                    - 34
                    - 43
                    - 49
                    - 59
                    - 62
                    - 70
                    - 121
                    - 122
                    - 123
                    - 133
                    - 139
                    - 140
                    - 143
                    - 156
                    - 162
                    - 163
                    - 164
                    - 165
                    - 175
                    - 180
                    - 246
                    - 253
                start:
                  type: object
                  properties:
                    lat:
                      type: number
                      example: 40.41669813586243
                    lon:
                      type: number
                      example: -3.703207969665528
                startDate:
                  type: string
                  example: "2021-04-28T00:00:00.000Z"
            example:
              dayEnd: 1080
              dayStart: 540
              description: Ruta por lugares importantes de Madrid
              endDate: "2021-05-02T00:00:00.000Z"
              name: Visita por Madrid
              places:
                - 2
                - 21
                - 34
                - 43
                - 49
                - 59
                - 62
                - 70
                - 121
                - 122
                - 123
                - 133
                - 139
                - 140
                - 143
                - 156
                - 162
                - 163
                - 164
                - 165
                - 175
                - 180
                - 246
                - 253
              start:
                lat: 40.41669813586243
                lon: -3.703207969665528
              startDate: "2021-04-28T00:00:00.000Z"
      responses:
        "200":
          description: Successful creation
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: number
                    example: 14
              examples:
                Successful creation:
                  value:
                    id: 14
        "400":
          description: Missing or bad attributes
          content:
            text/plain:
              examples:
                Missing or bad attributes:
                  value: ""
  /api/plans/delete:
    post:
      security:
        - hermesSession: []
      tags:
        - Planner
      summary: Delete a plan
      description: Deletes an existing plan.
      operationId: deleteAPlan
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                id:
                  type: number
                  example: 12
            example:
              id: 12
      responses:
        "200":
          description: Successful deletion
          content: {}
        "400":
          description: Missing or bad attribute
          content: {}
        "403":
          description: Plan not found or does not belong to user
          content: {}
  /api/plans/get:
    post:
      security:
        - hermesSession: []
      tags:
        - Planner
      summary: Get a plan
      description: "Returns a plan with its items.\n\nItems in a plan have a type, identified by a number:\n\n- 0: Empty item.\n- 1: Place\n- 2: Starting point.\n- 3: Wait\n- 4: Rest\n- 5: Custom item.\n\n**Note**: By default, place data is empty, except when type is 1.\n\nStatuses can be:\n\n- -1: Internal error while planning.\n- 0: Plan is created and OK\n- 1: Plan is being planned.\n- 2: Planner has timed out. No solution found.\n- 3: Planner found no solution.\n- 4: Plan is completed."
      operationId: getAPlan
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                id:
                  type: number
                  example: 13
            example:
              id: 13
      responses:
        "200":
          description: Successful request
          content:
            application/json:
              schema:
                type: object
                properties:
                  items:
                    type: array
                    items:
                      type: object
                      properties:
                        day:
                          type: number
                          example: 0
                        description:
                          nullable: true
                          example: ~
                        endTime:
                          type: string
                          example: "09:00"
                        id:
                          type: number
                          example: 249
                        order:
                          type: number
                          example: 0
                        placeDescription:
                          type: string
                          nullable: true
                          example: ~
                        placeId:
                          type: number
                          nullable: true
                          example: ~
                        placeImages:
                          type: number
                          nullable: true
                          example: ~
                        placeMaps:
                          type: string
                          nullable: true
                          example: ~
                        placeName:
                          type: string
                          nullable: true
                          example: ~
                        placeUrl:
                          type: string
                          nullable: true
                          example: ~
                        placeWikipedia:
                          type: string
                          nullable: true
                          example: ~
                        startTime:
                          type: string
                          example: "09:00"
                        timeSpent:
                          type: number
                          example: 0
                        travelMode:
                          type: string
                          example: walking
                        travelNext:
                          type: number
                          example: 18
                        type:
                          type: number
                          example: 2
                    example:
                      - day: 0
                        description: ~
                        endTime: "09:00"
                        id: 249
                        order: 0
                        placeDescription: ~
                        placeId: ~
                        placeImages: ~
                        placeMaps: ~
                        placeName: ~
                        placeUrl: ~
                        placeWikipedia: ~
                        startTime: "09:00"
                        timeSpent: 0
                        travelMode: walking
                        travelNext: 18
                        type: 2
                      - day: 0
                        description: ~
                        endTime: "10:26"
                        id: 250
                        order: 1
                        placeDescription: "Jardín botánico con invernaderos y zonas verdes al aire libre, senderos y actividades mensuales."
                        placeId: 34
                        placeImages: 1
                        placeMaps: "https://www.google.com/maps/place/Real+Jard%C3%ADn+Bot%C3%A1nico/@40.4111064,-3.6911267,17z/data=!3m1!4b1!4m5!3m4!1s0xd422627ee52f38b:0x297981d8a45ec12b!8m2!3d40.4111064!4d-3.6911267"
                        placeName: Real Jardín Botánico
                        placeUrl: "http://www.rjb.csic.es"
                        placeWikipedia: "es:Real Jardín Botánico de Madrid"
                        startTime: "09:18"
                        timeSpent: 1.125
                        travelMode: walking
                        travelNext: 12
                        type: 1
                      - day: 0
                        description: ~
                        endTime: "10:53"
                        id: 251
                        order: 2
                        placeDescription: "Moderna estación de metro y trenes de larga distancia y regionales, con un jardín tropical en la terminal."
                        placeId: 2
                        placeImages: 1
                        placeMaps: "https://goo.gl/maps/8rEzwJ6R8aD2RL1q9"
                        placeName: Estación de Atocha
                        placeUrl: "http://www.adif.es/es_ES/infraestructuras/estaciones/60000/informacion_000070.shtml"
                        placeWikipedia: "es:Estación de Atocha"
                        startTime: "10:38"
                        timeSpent: 0.25
                        travelMode: walking
                        travelNext: 18
                        type: 1
                      - day: 0
                        description: ~
                        endTime: "11:26"
                        id: 252
                        order: 3
                        placeDescription: Obelisco en memoria de las víctimas del levantamiento del 2 de mayo de 1808 contra las tropas francesas.
                        placeId: 21
                        placeImages: 1
                        placeMaps: "https://www.google.com/maps/place/Monumento+a+los+Ca%C3%ADdos+por+Espa%C3%B1a/@40.4164469,-3.6928918,17z/data=!3m1!4b1!4m5!3m4!1s0xd4228832d9590a1:0xdcaa7153d2243b83!8m2!3d40.4164469!4d-3.6928918"
                        placeName: Monumento a los Caídos por España
                        placeUrl: ~
                        placeWikipedia: "es:Monumento a los Caídos por España"
                        startTime: "11:11"
                        timeSpent: 0.25
                        travelMode: walking
                        travelNext: 6
                        type: 1
                      - day: 0
                        description: ~
                        endTime: "14:32"
                        id: 253
                        order: 4
                        placeDescription: "Colección de obras de arte de los siglos XII a XIX y obras maestras de Velázquez, Goya y el Greco."
                        placeId: 43
                        placeImages: 1
                        placeMaps: "https://www.google.com/maps/place/Museo+Nacional+del+Prado/@40.4137818,-3.6921271,17z/data=!3m1!4b1!4m5!3m4!1s0xd42289d66d8a2ed:0x1094f07d93ad885a!8m2!3d40.4137818!4d-3.6921271"
                        placeName: Museo Nacional del Prado
                        placeUrl: "http://www.museodelprado.es"
                        placeWikipedia: "es:Museo del Prado"
                        startTime: "11:32"
                        timeSpent: 3
                        travelMode: car
                        travelNext: 16
                        type: 1
                      - day: 0
                        description: ~
                        endTime: "16:48"
                        id: 254
                        order: 5
                        placeDescription: "Museo dedicado a la divulgación científica y tecnológica, y a la conservación. Posee una colección de más de 15000 instrumentos científicos que datan desde el siglo XVI hasta la actualidad."
                        placeId: 49
                        placeImages: 1
                        placeMaps: "https://www.google.com/maps/place/MUNCYT:+Museo+Nacional+de+Ciencia+y+Tecnolog%C3%ADa/@40.5375439,-3.6414533,17z/data=!3m1!4b1!4m5!3m4!1s0xd422cf52f111f6d:0xbe8383505998a789!8m2!3d40.5375439!4d-3.6414533"
                        placeName: Museo Nacional de Ciencia y Tecnología
                        placeUrl: "http://www.muncyt.es/"
                        placeWikipedia: "es:Museo_Nacional_de_Ciencia_y_Tecnología"
                        startTime: "14:48"
                        timeSpent: 2
                        travelMode: car
                        travelNext: 17
                        type: 1
                      - day: 0
                        description: ~
                        endTime: "19:05"
                        id: 255
                        order: 6
                        placeDescription: Jardín botánico de plantas subtropicales y tropicales situado en el antiguo apeadero de la Estación de Atocha.
                        placeId: 59
                        placeImages: 1
                        placeMaps: "https://www.google.com/maps/place/Invernadero+de+Atocha/@40.406781,-3.6912058,17z/data=!3m1!4b1!4m5!3m4!1s0xd422625bf3005b9:0xe0fa60f303c7741d!8m2!3d40.406781!4d-3.6912058"
                        placeName: Invernadero de Atocha
                        placeUrl: "https://www.esmadrid.com/informacion-turistica/jardin-tropical-estacion-de-atocha"
                        placeWikipedia: "es:Invernadero_de_Atocha"
                        startTime: "17:05"
                        timeSpent: 2
                        travelMode: walking
                        travelNext: -1
                        type: 1
                      - day: 1
                        description: ~
                        endTime: "09:00"
                        id: 256
                        order: 0
                        placeDescription: ~
                        placeId: ~
                        placeImages: ~
                        placeMaps: ~
                        placeName: ~
                        placeUrl: ~
                        placeWikipedia: ~
                        startTime: "09:00"
                        timeSpent: 0
                        travelMode: walking
                        travelNext: 1
                        type: 2
                      - day: 1
                        description: ~
                        endTime: "09:16"
                        id: 257
                        order: 1
                        placeDescription: Escultura de bronce de un oso y un madroño que sirve como punto de referencia en una concurrida plaza urbana.
                        placeId: 70
                        placeImages: 1
                        placeMaps: "https://www.google.com/maps/place/El+Oso+y+el+Madro%C3%B1o/@40.4170164,-3.7026175,17z/data=!3m1!4b1!4m5!3m4!1s0xd42287e1994e237:0xaf820688ee88e2d1!8m2!3d40.4170164!4d-3.7026175"
                        placeName: Estatua del Oso y el Madroño
                        placeUrl: ~
                        placeWikipedia: "es:Estatua del Oso y el Madroño"
                        startTime: "09:01"
                        timeSpent: 0.25
                        travelMode: walking
                        travelNext: 18
                        type: 1
                      - day: 1
                        description: ~
                        endTime: "09:50"
                        id: 258
                        order: 2
                        placeDescription: "Famosa calle conocida por las casetas de venta de libros (muchas de ellas de libros viejos, o de segunda mano) que están instaladas junto a la verja del Jardín Botánico. La calle comunica el Paseo del Prado con el parque del Retiro y actualmente es peatonal."
                        placeId: 62
                        placeImages: 1
                        placeMaps: "https://www.google.com/maps/place/C.+Claudio+Moyano,+28014+Madrid/@40.4096161,-3.6904578,17z/data=!3m1!4b1!4m5!3m4!1s0xd422626609e7671:0x1dd05237ff100ca8!8m2!3d40.4096161!4d-3.6904578"
                        placeName: Cuesta de Moyano
                        placeUrl: ~
                        placeWikipedia: "es:Cuesta_de_Moyano"
                        startTime: "09:35"
                        timeSpent: 0.25
                        travelMode: walking
                        travelNext: 20
                        type: 1
                      - day: 1
                        description: ~
                        endTime: "13:10"
                        id: 259
                        order: 3
                        placeDescription: "Famosa plaza del centro de Madrid, muy concurrida, en donde se encuentra el punto cero de todas las carreteras radiales del país."
                        placeId: 121
                        placeImages: 1
                        placeMaps: "https://www.google.com/maps/place/Puerta+Del+Sol/@40.4167734,-3.7040781,19.29z/data=!4m13!1m7!3m6!1s0xd422880a07d7dc7:0x694aee57da1dc679!2sPuerta+del+Sol,+Madrid!3b1!8m2!3d40.4169473!4d-3.7035285!3m4!1s0xd422f84c313f355:0xe492f00acd3c8e61!8m2!3d40.4170341!4d-3.7037203"
                        placeName: Puerta del Sol
                        placeUrl: ~
                        placeWikipedia: "es:Puerta del Sol (Madrid)"
                        startTime: "10:10"
                        timeSpent: 3
                        travelMode: walking
                        travelNext: 4
                        type: 1
                      - day: 1
                        description: ~
                        endTime: "15:14"
                        id: 260
                        order: 4
                        placeDescription: Majestuosa plaza con cafeterías y restaurantes bajo sus arcos y la estatua de Felipe III en el centro.
                        placeId: 122
                        placeImages: 1
                        placeMaps: "https://www.google.com/maps/place/Plaza+Mayor/@40.4155107,-3.7161557,15z/data=!3m1!4b1!4m5!3m4!1s0xd42287ed77a7e65:0x49a63c540111181c!8m2!3d40.415511!4d-3.7074009"
                        placeName: Plaza Mayor
                        placeUrl: "https://www.madrid.es/portales/munimadrid/es/Inicio/Direcciones-y-telefonos/Resultados-busqueda/Plaza-Mayor?vgnextfmt=default&vgnextoid=0a4492355c51c010VgnVCM2000000c205a0aRCRD&vgnextchannel=175e0fa5c68fd310VgnVCM100000171f5a0aRCRD#"
                        placeWikipedia: "es:Plaza Mayor de Madrid"
                        startTime: "13:14"
                        timeSpent: 2
                        travelMode: walking
                        travelNext: 18
                        type: 1
                      - day: 1
                        description: ~
                        endTime: "15:47"
                        id: 261
                        order: 5
                        placeDescription: Puerta de estilo neoclásico con arcos de piedra y estatuas en honor de Fernando VII.
                        placeId: 123
                        placeImages: 2
                        placeMaps: "https://www.google.com/maps/place/Puerta+de+Toledo/@40.4067654,-3.7116203,17z/data=!3m1!4b1!4m5!3m4!1s0xd4227d0c7b4d94d:0x54bc446f4fa2e7d8!8m2!3d40.4067654!4d-3.7116203"
                        placeName: Puerta de Toledo
                        placeUrl: "http://es.wikipedia.org/wiki/puerta_de_toledo"
                        placeWikipedia: "es:Puerta de Toledo (Madrid)"
                        startTime: "15:32"
                        timeSpent: 0.25
                        travelMode: walking
                        travelNext: 22
                        type: 1
                      - day: 1
                        description: ~
                        endTime: "16:24"
                        id: 262
                        order: 6
                        placeDescription: Emblemático rótulo de neón que anuncia una popular marca de jerez y que preside una plaza pública.
                        placeId: 133
                        placeImages: 3
                        placeMaps: "https://www.google.com/maps/place/T%C3%ADo+Pepe/@40.4172155,-3.7125066,15z/data=!3m1!4b1!4m5!3m4!1s0xd42287e11b95261:0x2ec8646fd808d13d!8m2!3d40.4172158!4d-3.7037518"
                        placeName: Luminoso Tío Pepe
                        placeUrl: ~
                        placeWikipedia: "es:González_Byass"
                        startTime: "16:09"
                        timeSpent: 0.25
                        travelMode: walking
                        travelNext: 4
                        type: 1
                      - day: 1
                        description: ~
                        endTime: "16:43"
                        id: 263
                        order: 7
                        placeDescription: "Conocida plaza situada en el centro de Madrid, que comunica con la Calle Gran Vía"
                        placeId: 139
                        placeImages: 1
                        placeMaps: "https://www.google.com/maps/place/Callao/@40.4202469,-3.7144945,15z/data=!3m1!4b1!4m5!3m4!1s0xd42287c547472e9:0xf621bbdffdbeb40c!8m2!3d40.4202472!4d-3.7057396"
                        placeName: Plaza del Callao
                        placeUrl: ~
                        placeWikipedia: "es:Plaza del Callao"
                        startTime: "16:28"
                        timeSpent: 0.25
                        travelMode: walking
                        travelNext: 6
                        type: 1
                      - day: 1
                        description: ~
                        endTime: "17:04"
                        id: 264
                        order: 8
                        placeDescription: Origen kilométrico de las carreteras españolas.Consiste en una placa en el suelo
                        placeId: 140
                        placeImages: 1
                        placeMaps: "https://www.google.com/maps/place/Kil%C3%B3metro+Cero/@40.4166359,-3.7038101,17z/data=!3m1!4b1!4m5!3m4!1s0xd42290e2fa06349:0x1676419c937a4b0b!8m2!3d40.4166359!4d-3.7038101"
                        placeName: Kilómetro 0
                        placeUrl: ~
                        placeWikipedia: "es:Anexo:Carreteras Radiales de España#Kilómetro_cero"
                        startTime: "16:49"
                        timeSpent: 0.25
                        travelMode: walking
                        travelNext: 1
                        type: 1
                      - day: 1
                        description: ~
                        endTime: "17:21"
                        id: 265
                        order: 9
                        placeDescription: Sede de la Presidencia del Gobierno de la Comunidad de Madrid.
                        placeId: 143
                        placeImages: 1
                        placeMaps: "https://www.google.com/maps/place/Real+Casa+de+Correos/@40.4164102,-3.7037974,17z/data=!3m1!4b1!4m5!3m4!1s0xd42287e3c11a8c3:0x423e351cf5de1100!8m2!3d40.4164102!4d-3.7037974"
                        placeName: Real Casa de Correos
                        placeUrl: "http://www.madrid.org"
                        placeWikipedia: "es:Real Casa de Correos"
                        startTime: "17:06"
                        timeSpent: 0.25
                        travelMode: walking
                        travelNext: 9
                        type: 1
                      - day: 1
                        description: ~
                        endTime: "19:30"
                        id: 266
                        order: 10
                        placeDescription: "Centro artístico y cultural con cine, actuaciones en directo, salas de exposiciones y restaurante cafetería."
                        placeId: 156
                        placeImages: 1
                        placeMaps: "https://www.google.com/maps/place/C%C3%ADrculo+de+Bellas+Artes/@40.4183042,-3.6965333,17z/data=!3m1!4b1!4m5!3m4!1s0xd42288472c293df:0xa921f67f134d1c1a!8m2!3d40.4183042!4d-3.6965333"
                        placeName: Círculo de Bellas Artes
                        placeUrl: "http://www.circulobellasartes.com"
                        placeWikipedia: "es:Círculo de Bellas Artes"
                        startTime: "17:30"
                        timeSpent: 2
                        travelMode: walking
                        travelNext: -1
                        type: 1
                      - day: 2
                        description: ~
                        endTime: "09:00"
                        id: 267
                        order: 0
                        placeDescription: ~
                        placeId: ~
                        placeImages: ~
                        placeMaps: ~
                        placeName: ~
                        placeUrl: ~
                        placeWikipedia: ~
                        startTime: "09:00"
                        timeSpent: 0
                        travelMode: walking
                        travelNext: 15
                        type: 2
                      - day: 2
                        description: ~
                        endTime: "09:41"
                        id: 268
                        order: 1
                        placeDescription: El Palacio de Comunicaciones (denominado desde 2011 Palacio de Cibeles) es un conjunto integrado por dos edificios de fachada blanca ubicados en uno de los centros del Madrid histórico. Alberga el Ayuntamiento de Madrid desde 2007
                        placeId: 163
                        placeImages: 1
                        placeMaps: "https://www.google.com/maps/place/Ayuntamiento+de+Madrid/@40.4187748,-3.6928783,18.25z/data=!4m13!1m7!3m6!1s0xd42289b5b19565f:0x2dcaa85f4558b7cb!2sPalacio+de+Comunicaciones,+28014+Madrid!3b1!8m2!3d40.418882!4d-3.6917853!3m4!1s0xd422f97ae958b27:0x33a0539f01ef35d!8m2!3d40.4184839!4d-3.6915457"
                        placeName: Palacio de Cibeles
                        placeUrl: "http://www.madrid.es"
                        placeWikipedia: "es:Palacio de Comunicaciones"
                        startTime: "09:15"
                        timeSpent: 0.4375
                        travelMode: walking
                        travelNext: 4
                        type: 1
                      - day: 2
                        description: ~
                        endTime: "10:00"
                        id: 269
                        order: 2
                        placeDescription: "Centro emblemático construido en 1904, con exposiciones de la vida urbana y una torre con vistas a la ciudad."
                        placeId: 162
                        placeImages: 1
                        placeMaps: "https://www.google.com/maps/place/CentroCentro/@40.4189028,-3.694022,17.25z/data=!4m13!1m7!3m6!1s0xd422884b6a63843:0x6a54857cd288eda8!2sPlaza+de+Cibeles,+Madrid!3b1!8m2!3d40.4193432!4d-3.6930919!3m4!1s0xd42287ceae21055:0x47ac9a234545f9b2!8m2!3d40.4188928!4d-3.691934"
                        placeName: Plaza de Cibeles
                        placeUrl: ~
                        placeWikipedia: "es:Fuente de Cibeles"
                        startTime: "09:45"
                        timeSpent: 0.25
                        travelMode: walking
                        travelNext: 11
                        type: 1
                      - day: 2
                        description: ~
                        endTime: "10:26"
                        id: 270
                        order: 3
                        placeDescription: "Espacio público de la ciudad española de Madrid, en la que confluyen calles como Goya, Génova y los paseos de la Castellana y Recoletos, dedicado en honor a Cristobal Colón"
                        placeId: 164
                        placeImages: 1
                        placeMaps: "https://www.google.com/maps/place/Plaza+de+Col%C3%B3n/@40.4248055,-3.689576,18.5z/data=!4m13!1m7!3m6!1s0xd4228905635c501:0x264f338303ca8cdc!2sPlaza+de+Col%C3%B3n,+Madrid!3b1!8m2!3d40.4251223!4d-3.6902409!3m4!1s0xd422890f9d00223:0x3b3e44bf8ab3c427!8m2!3d40.4248655!4d-3.6891559"
                        placeName: Plaza de Colón
                        placeUrl: "http://www.madripedia.es/index.php?title=Plaza_de_Colón&redirect=no&printable=yes"
                        placeWikipedia: "es:Plaza de Colón (Madrid)"
                        startTime: "10:11"
                        timeSpent: 0.25
                        travelMode: walking
                        travelNext: 9
                        type: 1
                      - day: 2
                        description: ~
                        endTime: "10:50"
                        id: 271
                        order: 4
                        placeDescription: "Arco de triunfo cerca del Parque del Buen Retiro, con ornamentación tallada en piedra y refinadas esculturas."
                        placeId: 165
                        placeImages: 1
                        placeMaps: "https://www.google.com/maps/place/Puerta+de+Alcal%C3%A1/@40.419992,-3.688737,17z/data=!3m1!4b1!4m5!3m4!1s0xd42289a4a865227:0x98278b3a144a86f1!8m2!3d40.419992!4d-3.688737"
                        placeName: Puerta de Alcalá
                        placeUrl: ~
                        placeWikipedia: "es:Puerta de Alcalá"
                        startTime: "10:35"
                        timeSpent: 0.25
                        travelMode: walking
                        travelNext: 10
                        type: 1
                      - day: 2
                        description: ~
                        endTime: "14:00"
                        id: 272
                        order: 5
                        placeDescription: "Amplio parque del siglo XIX con lago para barcas y rosaleda, además de diversas fuentes y estatuas."
                        placeId: 175
                        placeImages: 4
                        placeMaps: "https://www.google.com/maps/place/Parque+de+El+Retiro/@40.4152606,-3.6844995,17z/data=!3m1!4b1!4m5!3m4!1s0xd42289ff511827b:0x9e6c2716b524a3ae!8m2!3d40.4152606!4d-3.6844995"
                        placeName: Parque del Retiro
                        placeUrl: "http://es.wikipedia.org/wiki/Jardines_del_Retiro_de_Madrid"
                        placeWikipedia: "es:Parque del Retiro de Madrid"
                        startTime: "11:00"
                        timeSpent: 3
                        travelMode: walking
                        travelNext: 19
                        type: 1
                      - day: 2
                        description: ~
                        endTime: "14:34"
                        id: 273
                        order: 6
                        placeDescription: Esta estructura ornamentada de beaux arts de 1911 cuenta con una cúpula dorada con una estatua de una diosa alada.
                        placeId: 180
                        placeImages: 1
                        placeMaps: "https://www.google.com/maps/place/Edificio+Metr%C3%B3polis/@40.4188729,-3.6973909,17z/data=!3m1!4b1!4m5!3m4!1s0xd4228840cfb1e2b:0xcde1abd260690afe!8m2!3d40.4188729!4d-3.6973909"
                        placeName: Edificio Metrópolis
                        placeUrl: ~
                        placeWikipedia: "es:Edificio Metrópolis"
                        startTime: "14:19"
                        timeSpent: 0.25
                        travelMode: walking
                        travelNext: 19
                        type: 1
                      - day: 2
                        description: ~
                        endTime: "15:08"
                        id: 274
                        order: 7
                        placeDescription: "Plaza arbolada rodeada de construcciones imponentes, con una estatua ecuestre de Cervantes de piedra y bronce."
                        placeId: 246
                        placeImages: 1
                        placeMaps: "https://www.google.com/maps/place/Plaza+de+Espa%C3%B1a/@40.4233828,-3.7121647,17z/data=!3m1!4b1!4m5!3m4!1s0xd42287ab3f77019:0x56c00bc05abaf59d!8m2!3d40.4233828!4d-3.7121647"
                        placeName: Plaza de España
                        placeUrl: ~
                        placeWikipedia: "es:Plaza de España (Madrid)"
                        startTime: "14:53"
                        timeSpent: 0.25
                        travelMode: car
                        travelNext: 8
                        type: 1
                      - day: 2
                        description: ~
                        endTime: "15:53"
                        id: 275
                        order: 8
                        placeDescription: "Parque arbolado con zonas de juego, un bosque, fuentes y monumentos en recuerdo a la caída del Muro de Berlín."
                        placeId: 253
                        placeImages: 1
                        placeMaps: "https://www.google.com/maps/place/Parque+de+Berl%C3%ADn/@40.4504072,-3.6757558,17z/data=!3m1!4b1!4m5!3m4!1s0xd4228d96c5f5eb1:0x84d47b00801deab2!8m2!3d40.4504072!4d-3.6757558"
                        placeName: Parque de Berlín
                        placeUrl: ~
                        placeWikipedia: "es:Parque de Berlín"
                        startTime: "15:16"
                        timeSpent: 0.625
                        travelMode: car
                        travelNext: -1
                        type: 1
                  plan:
                    type: object
                    properties:
                      dayEnd:
                        type: number
                        example: 1080
                      dayStart:
                        type: number
                        example: 540
                      description:
                        type: string
                        example: Ruta por lugares importantes de Madrid
                      endDate:
                        type: string
                        example: "2021-05-02T00:00:00.000Z"
                      id:
                        type: number
                        example: 13
                      name:
                        type: string
                        example: Visita por Madrid
                      startDate:
                        type: string
                        example: "2021-04-28T00:00:00.000Z"
                      startLat:
                        type: number
                        example: 40.4167
                      startLon:
                        type: number
                        example: -3.70321
                      status:
                        type: number
                        example: 0
              examples:
                Successful request:
                  value:
                    items:
                      - day: 0
                        description: ~
                        endTime: "09:00"
                        id: 249
                        order: 0
                        placeDescription: ~
                        placeId: ~
                        placeImages: ~
                        placeMaps: ~
                        placeName: ~
                        placeUrl: ~
                        placeWikipedia: ~
                        startTime: "09:00"
                        timeSpent: 0
                        travelMode: walking
                        travelNext: 18
                        type: 2
                      - day: 0
                        description: ~
                        endTime: "10:26"
                        id: 250
                        order: 1
                        placeDescription: "Jardín botánico con invernaderos y zonas verdes al aire libre, senderos y actividades mensuales."
                        placeId: 34
                        placeImages: 1
                        placeMaps: "https://www.google.com/maps/place/Real+Jard%C3%ADn+Bot%C3%A1nico/@40.4111064,-3.6911267,17z/data=!3m1!4b1!4m5!3m4!1s0xd422627ee52f38b:0x297981d8a45ec12b!8m2!3d40.4111064!4d-3.6911267"
                        placeName: Real Jardín Botánico
                        placeUrl: "http://www.rjb.csic.es"
                        placeWikipedia: "es:Real Jardín Botánico de Madrid"
                        startTime: "09:18"
                        timeSpent: 1.125
                        travelMode: walking
                        travelNext: 12
                        type: 1
                      - day: 0
                        description: ~
                        endTime: "10:53"
                        id: 251
                        order: 2
                        placeDescription: "Moderna estación de metro y trenes de larga distancia y regionales, con un jardín tropical en la terminal."
                        placeId: 2
                        placeImages: 1
                        placeMaps: "https://goo.gl/maps/8rEzwJ6R8aD2RL1q9"
                        placeName: Estación de Atocha
                        placeUrl: "http://www.adif.es/es_ES/infraestructuras/estaciones/60000/informacion_000070.shtml"
                        placeWikipedia: "es:Estación de Atocha"
                        startTime: "10:38"
                        timeSpent: 0.25
                        travelMode: walking
                        travelNext: 18
                        type: 1
                      - day: 0
                        description: ~
                        endTime: "11:26"
                        id: 252
                        order: 3
                        placeDescription: Obelisco en memoria de las víctimas del levantamiento del 2 de mayo de 1808 contra las tropas francesas.
                        placeId: 21
                        placeImages: 1
                        placeMaps: "https://www.google.com/maps/place/Monumento+a+los+Ca%C3%ADdos+por+Espa%C3%B1a/@40.4164469,-3.6928918,17z/data=!3m1!4b1!4m5!3m4!1s0xd4228832d9590a1:0xdcaa7153d2243b83!8m2!3d40.4164469!4d-3.6928918"
                        placeName: Monumento a los Caídos por España
                        placeUrl: ~
                        placeWikipedia: "es:Monumento a los Caídos por España"
                        startTime: "11:11"
                        timeSpent: 0.25
                        travelMode: walking
                        travelNext: 6
                        type: 1
                      - day: 0
                        description: ~
                        endTime: "14:32"
                        id: 253
                        order: 4
                        placeDescription: "Colección de obras de arte de los siglos XII a XIX y obras maestras de Velázquez, Goya y el Greco."
                        placeId: 43
                        placeImages: 1
                        placeMaps: "https://www.google.com/maps/place/Museo+Nacional+del+Prado/@40.4137818,-3.6921271,17z/data=!3m1!4b1!4m5!3m4!1s0xd42289d66d8a2ed:0x1094f07d93ad885a!8m2!3d40.4137818!4d-3.6921271"
                        placeName: Museo Nacional del Prado
                        placeUrl: "http://www.museodelprado.es"
                        placeWikipedia: "es:Museo del Prado"
                        startTime: "11:32"
                        timeSpent: 3
                        travelMode: car
                        travelNext: 16
                        type: 1
                      - day: 0
                        description: ~
                        endTime: "16:48"
                        id: 254
                        order: 5
                        placeDescription: "Museo dedicado a la divulgación científica y tecnológica, y a la conservación. Posee una colección de más de 15000 instrumentos científicos que datan desde el siglo XVI hasta la actualidad."
                        placeId: 49
                        placeImages: 1
                        placeMaps: "https://www.google.com/maps/place/MUNCYT:+Museo+Nacional+de+Ciencia+y+Tecnolog%C3%ADa/@40.5375439,-3.6414533,17z/data=!3m1!4b1!4m5!3m4!1s0xd422cf52f111f6d:0xbe8383505998a789!8m2!3d40.5375439!4d-3.6414533"
                        placeName: Museo Nacional de Ciencia y Tecnología
                        placeUrl: "http://www.muncyt.es/"
                        placeWikipedia: "es:Museo_Nacional_de_Ciencia_y_Tecnología"
                        startTime: "14:48"
                        timeSpent: 2
                        travelMode: car
                        travelNext: 17
                        type: 1
                      - day: 0
                        description: ~
                        endTime: "19:05"
                        id: 255
                        order: 6
                        placeDescription: Jardín botánico de plantas subtropicales y tropicales situado en el antiguo apeadero de la Estación de Atocha.
                        placeId: 59
                        placeImages: 1
                        placeMaps: "https://www.google.com/maps/place/Invernadero+de+Atocha/@40.406781,-3.6912058,17z/data=!3m1!4b1!4m5!3m4!1s0xd422625bf3005b9:0xe0fa60f303c7741d!8m2!3d40.406781!4d-3.6912058"
                        placeName: Invernadero de Atocha
                        placeUrl: "https://www.esmadrid.com/informacion-turistica/jardin-tropical-estacion-de-atocha"
                        placeWikipedia: "es:Invernadero_de_Atocha"
                        startTime: "17:05"
                        timeSpent: 2
                        travelMode: walking
                        travelNext: -1
                        type: 1
                      - day: 1
                        description: ~
                        endTime: "09:00"
                        id: 256
                        order: 0
                        placeDescription: ~
                        placeId: ~
                        placeImages: ~
                        placeMaps: ~
                        placeName: ~
                        placeUrl: ~
                        placeWikipedia: ~
                        startTime: "09:00"
                        timeSpent: 0
                        travelMode: walking
                        travelNext: 1
                        type: 2
                      - day: 1
                        description: ~
                        endTime: "09:16"
                        id: 257
                        order: 1
                        placeDescription: Escultura de bronce de un oso y un madroño que sirve como punto de referencia en una concurrida plaza urbana.
                        placeId: 70
                        placeImages: 1
                        placeMaps: "https://www.google.com/maps/place/El+Oso+y+el+Madro%C3%B1o/@40.4170164,-3.7026175,17z/data=!3m1!4b1!4m5!3m4!1s0xd42287e1994e237:0xaf820688ee88e2d1!8m2!3d40.4170164!4d-3.7026175"
                        placeName: Estatua del Oso y el Madroño
                        placeUrl: ~
                        placeWikipedia: "es:Estatua del Oso y el Madroño"
                        startTime: "09:01"
                        timeSpent: 0.25
                        travelMode: walking
                        travelNext: 18
                        type: 1
                      - day: 1
                        description: ~
                        endTime: "09:50"
                        id: 258
                        order: 2
                        placeDescription: "Famosa calle conocida por las casetas de venta de libros (muchas de ellas de libros viejos, o de segunda mano) que están instaladas junto a la verja del Jardín Botánico. La calle comunica el Paseo del Prado con el parque del Retiro y actualmente es peatonal."
                        placeId: 62
                        placeImages: 1
                        placeMaps: "https://www.google.com/maps/place/C.+Claudio+Moyano,+28014+Madrid/@40.4096161,-3.6904578,17z/data=!3m1!4b1!4m5!3m4!1s0xd422626609e7671:0x1dd05237ff100ca8!8m2!3d40.4096161!4d-3.6904578"
                        placeName: Cuesta de Moyano
                        placeUrl: ~
                        placeWikipedia: "es:Cuesta_de_Moyano"
                        startTime: "09:35"
                        timeSpent: 0.25
                        travelMode: walking
                        travelNext: 20
                        type: 1
                      - day: 1
                        description: ~
                        endTime: "13:10"
                        id: 259
                        order: 3
                        placeDescription: "Famosa plaza del centro de Madrid, muy concurrida, en donde se encuentra el punto cero de todas las carreteras radiales del país."
                        placeId: 121
                        placeImages: 1
                        placeMaps: "https://www.google.com/maps/place/Puerta+Del+Sol/@40.4167734,-3.7040781,19.29z/data=!4m13!1m7!3m6!1s0xd422880a07d7dc7:0x694aee57da1dc679!2sPuerta+del+Sol,+Madrid!3b1!8m2!3d40.4169473!4d-3.7035285!3m4!1s0xd422f84c313f355:0xe492f00acd3c8e61!8m2!3d40.4170341!4d-3.7037203"
                        placeName: Puerta del Sol
                        placeUrl: ~
                        placeWikipedia: "es:Puerta del Sol (Madrid)"
                        startTime: "10:10"
                        timeSpent: 3
                        travelMode: walking
                        travelNext: 4
                        type: 1
                      - day: 1
                        description: ~
                        endTime: "15:14"
                        id: 260
                        order: 4
                        placeDescription: Majestuosa plaza con cafeterías y restaurantes bajo sus arcos y la estatua de Felipe III en el centro.
                        placeId: 122
                        placeImages: 1
                        placeMaps: "https://www.google.com/maps/place/Plaza+Mayor/@40.4155107,-3.7161557,15z/data=!3m1!4b1!4m5!3m4!1s0xd42287ed77a7e65:0x49a63c540111181c!8m2!3d40.415511!4d-3.7074009"
                        placeName: Plaza Mayor
                        placeUrl: "https://www.madrid.es/portales/munimadrid/es/Inicio/Direcciones-y-telefonos/Resultados-busqueda/Plaza-Mayor?vgnextfmt=default&vgnextoid=0a4492355c51c010VgnVCM2000000c205a0aRCRD&vgnextchannel=175e0fa5c68fd310VgnVCM100000171f5a0aRCRD#"
                        placeWikipedia: "es:Plaza Mayor de Madrid"
                        startTime: "13:14"
                        timeSpent: 2
                        travelMode: walking
                        travelNext: 18
                        type: 1
                      - day: 1
                        description: ~
                        endTime: "15:47"
                        id: 261
                        order: 5
[...]
