openapi: 3.0.3
info:
  title: Hermes
  description: |-
    Hermes is a system of recommendations and tourist planner, to facilitate the most tedious task of any trip: **planning it**.

    This page documents Hermes REST API that is used by the frontend.

    Most of the endpoints need authentication. This is done by a cookie called `hermesSession`.
  version: 1.0.3
  contact:
    name: Álvaro Galisteo
    url: 'https://alvaro.galisteo.me'
    email: hermes@galisteo.me
  license:
    name: GPL 3.0
    url: 'https://github.com/SrGMC/hermes/blob/main/LICENSE'
  termsOfService: 'https://travelhermes.com/terms/'
servers:
  - url: 'https://travelhermes.com'
components:
  securitySchemes:
    hermesSession:
      description: 'When authentication is needed, the `hermesSession` session cookie is required. This has a value of a 255 char string.'
      type: apiKey
      in: cookie
      name: hermesSession
  schemas: {}
  responses: {}
  examples: {}
paths:
  /api/account/download:
    get:
      security:
        - hermesSession: []
      tags:
        - Account
      summary: Download account data
      description: |-
        Download account data, in order to comply with GDPR.

        Returns a JSON file.
      operationId: downloadAccountData
      responses:
        '200':
          description: ''
  /api/account/info:
    get:
      security:
        - hermesSession: []
      tags:
        - Account
      summary: Get account info
      description: Get an accounts info and preferences.
      operationId: getAccountInfo
      responses:
        '200':
          description: Get account info
          content:
            application/json:
              schema:
                description: ''
                type: object
                properties:
                  preferences:
                    type: array
                    uniqueItems: true
                    minItems: 3
                    items:
                      type: integer
                      example: 23
                  user:
                    type: object
                    properties:
                      email:
                        type: string
                        minLength: 1
                        format: email
                      name:
                        type: string
                        minLength: 1
                      surname:
                        type: string
                        minLength: 1
                  notifications:
                    type: object
                    properties:
                      ratings:
                        type: boolean
                      plans:
                        type: boolean
              examples:
                Get account info:
                  value:
                    preferences:
                      - 35
                      - 18
                      - 12
                      - 4
                      - 28
                      - 7
                      - 13
                      - 44
                      - 25
                      - 38
                      - 48
                      - 41
                    user:
                      email: hermes@galisteo.me
                      name: Alvaro
                      surname: G.
                    notifications:
                      ratings: true
                      plans: false
  /api/account/update/account:
    put:
      security:
        - hermesSession: []
      tags:
        - Account
      summary: Update account info
      description: Update an accounts info and preferences
      operationId: updateAccountInfo
      responses:
        '200':
          description: Successful update
          content: {}
        '400':
          description: Missing or bad attributes
          content: {}
      requestBody:
        content:
          application/json:
            schema:
              description: ''
              type: object
              properties:
                preferences:
                  type: array
                  uniqueItems: true
                  minItems: 3
                  items:
                    type: integer
                    example: 12
                user:
                  type: object
                  required:
                    - email
                    - name
                    - surname
                  properties:
                    email:
                      type: string
                      minLength: 1
                      format: email
                      maxLength: 127
                    name:
                      type: string
                      minLength: 1
                      maxLength: 127
                    surname:
                      type: string
                      minLength: 1
                      maxLength: 127
              required:
                - preferences
                - user
            examples:
              Example:
                value:
                  preferences:
                    - 12
                    - 13
                    - 24
                  user:
                    email: hermes@galisteo.me
                    name: Alvaro
                    surname: G.
        description: ''
  /api/account/update/notifications:
    put:
      security:
        - hermesSession: []
      tags:
        - Account
      summary: Update account notifications
      description: Update an account notifications settings
      operationId: updateAccountNotifications
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                plans:
                  type: boolean
                  example: true
                ratings:
                  type: boolean
                  example: false
              required:
                - plans
                - ratings
            example:
              plans: true
              ratings: false
      responses:
        '200':
          description: Successful update
          content: {}
        '400':
          description: Missing or bad attributes
          content: {}
  /api/auth/delete:
    post:
      security:
        - hermesSession: []
      tags:
        - Auth
      summary: Delete an account
      description: Checks a password and deletes the account if there's a coincidence.
      operationId: deleteAnAccount
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                password:
                  type: string
                  example: 5e884898da28047151d0e56f8dc6292773603d0d6aabbdd62a11ef721d1542d8
                  pattern: '[0-9a-f]'
                  maxLength: 64
                  minLength: 64
              required:
                - password
            example:
              password: 5e884898da28047151d0e56f8dc6292773603d0d6aabbdd62a11ef721d1542d8
      responses:
        '200':
          description: Successful delete
          content: {}
        '401':
          description: Password does not match
          content: {}
  /api/auth/logout:
    get:
      security:
        - hermesSession: []
      tags:
        - Auth
      summary: Logout user
      description: Logs out a logged in user.
      operationId: logoutUser
      responses:
        '200':
          description: ''
        '301':
          description: Logout user
          headers:
            Location:
              schema:
                type: string
                example: /signin/
            Set-Cookie:
              schema:
                type: string
                example: 'hermesSession=; Path=/; Expires=Sun, 11 Apr 2021 00:00:00 GMT;'
          content: {}
  /api/auth/logoutSessions:
    get:
      security:
        - hermesSession: []
      tags:
        - Auth
      summary: Logout all sessions
      description: Logs out all sessions except the requesting one.
      operationId: logoutAllSessions
      responses:
        '200':
          description: ''
  /api/auth/password/change:
    put:
      security: []
      tags:
        - Auth
      summary: Change password using a reset token
      description: |-
        Resets the password of a user. Also deletes all sessions.

        Password must be SHA256 hash of real password.
      operationId: changePasswordUsingAResetToken
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                password:
                  type: string
                  example: 5e884898da28047151d0e56f8dc6292773603d0d6aabbdd62a11ef721d1542d8
                  pattern: '[0-9a-f]'
                  minLength: 64
                  maxLength: 64
                token:
                  type: string
                  example: Vi0cFLenjohLpcEljcnW56vm5KIOlQIdK5BxlOGLjSIO4Ygvt7TuDcC2j4iE7R7D018Rpdcc8od6iMUZEuEdh2Ezbp0OBHGfZhn51A3UBcX0oBZ03m0FPifwfUd8772cTskBMgRgnbcCXQVIgJodnXw60gKwKvyqw3r0wiUDcA7KAL221W2Pq0BTwM5nX3keQmvsPAG0yedDD0vaKqSuZw2dfJ275xdmwb4wc6ONx9FtG2w4s6fqFONHzOZQzsT
                  pattern: '[A-Za-z0-9]'
                  minLength: 255
                  maxLength: 255
              required:
                - password
                - token
            example:
              password: 5e884898da28047151d0e56f8dc6292773603d0d6aabbdd62a11ef721d1542d8
              token: Vi0cFLenjohLpcEljcnW56vm5KIOlQIdK5BxlOGLjSIO4Ygvt7TuDcC2j4iE7R7D018Rpdcc8od6iMUZEuEdh2Ezbp0OBHGfZhn51A3UBcX0oBZ03m0FPifwfUd8772cTskBMgRgnbcCXQVIgJodnXw60gKwKvyqw3r0wiUDcA7KAL221W2Pq0BTwM5nX3keQmvsPAG0yedDD0vaKqSuZw2dfJ275xdmwb4wc6ONx9FtG2w4s6fqFONHzOZQzsT
      responses:
        '200':
          description: Successful reset
          content: {}
        '400':
          description: Missing or bad attributes
          content: {}
  /api/auth/password/request:
    post:
      security: []
      tags:
        - Auth
      summary: Request password reset
      description: 'Requests a password reset, sending an email.'
      operationId: requestPasswordReset
      responses:
        '200':
          description: Request received
          content: {}
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                email:
                  type: string
                  example: hermes@galisteo.me
                  minLength: 1
                  format: email
              required:
                - email
  /api/auth/password/update:
    put:
      security:
        - hermesSession: []
      tags:
        - Auth
      summary: Change password
      description: |-
        Updates the password of a logged in user. Also deletes all sessions.

        Password must be SHA256 hash of real password.
      operationId: changePassword
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                password:
                  type: string
                  example: 0b14d501a594442a01c6859541bcb3e8164d183d32937b851835442f69d5c94e
                  minLength: 64
                  maxLength: 64
                  pattern: '[0-9a-f]'
              required:
                - password
            example:
              password: 0b14d501a594442a01c6859541bcb3e8164d183d32937b851835442f69d5c94e
      responses:
        '200':
          description: Successful change
          content: {}
        '400':
          description: Missing or bad attribute
          content: {}
  /api/auth/signin:
    post:
      security: []
      tags:
        - Auth
      summary: Login user
      description: |-
        Logs in a user.

        If `remember` is set, session is kept for 7 days, instead of 24 hours.

        Password must be SHA256 hash of real password.
      operationId: loginUser
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                email:
                  type: string
                  example: hermes@galisteo.me
                  format: email
                  minLength: 1
                  maxLength: 127
                password:
                  type: string
                  example: 5e884898da28047151d0e56f8dc6292773603d0d6aabbdd62a11ef721d1542d8
                  minLength: 64
                  maxLength: 64
                  pattern: '[0-9a-f]'
                remember:
                  type: boolean
                  example: true
              required:
                - email
                - password
            example:
              email: hermes@galisteo.me
              password: 5e884898da28047151d0e56f8dc6292773603d0d6aabbdd62a11ef721d1542d8
              remember: true
      responses:
        '200':
          description: Successful login
          headers:
            Set-Cookie:
              schema:
                type: string
                example: 'hermesSession=fTjxWw6V0URfKByuTgF0WXTo2vq05rrIKQrMzLuF1ZJ0FJPSBARfYtR8iSlcsuaI4JIdETpVWwaXeitP35vBaH7kovupVCMPnBvN0xXQHvPP2mjza0BF6GwOoQvjV1qIYbM7OmZLQ0Wi1XSCIlb5pHRuSNObOuMFqIDojWdlDzcmKuyUF8wlMdaoDbVE3OIcOs3TPKCBkXeXl8JrnBDvuPHkdWb3ATzPLlaMykVP3Nwr0USQosVNyiJSAFikZCW.rCvkESdfTiRdzP0iRVl3%2B%2Bfc6hWf%2FgH2532UpxS56b4; Path=/; Expires=Sun, 11 Apr 2021 11:33:58 GMT;'
          content:
            text/plain:
              examples:
                Successful login:
                  value: ''
        '400':
          description: Missing or bad attributes
          content:
            text/plain:
              examples:
                Missing or bad attributes:
                  value: ''
        '401':
          description: Username or password does not match
          content:
            text/plain:
              examples:
                Username or password does not match:
                  value: ''
  /api/auth/signup:
    post:
      security: []
      tags:
        - Auth
      summary: Create a new user
      description: |-
        Creates a new user in Hermes. `preferences` requires a minimum of 3 items.

        Password must be SHA256 hash of real password.
      operationId: createANewUser
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                country:
                  type: string
                  example: ES
                  enum:
                    - AD
                    - AE
                    - AF
                    - AG
                    - AI
                    - AL
                    - AM
                    - AN
                    - AO
                    - AQ
                    - AR
                    - AS
                    - AT
                    - AU
                    - AW
                    - AX
                    - AZ
                    - BA
                    - BB
                    - BD
                    - BE
                    - BF
                    - BG
                    - BH
                    - BI
                    - BJ
                    - BM
                    - BN
                    - BO
                    - BR
                    - BS
                    - BT
                    - BV
                    - BW
                    - BY
                    - BZ
                    - CA
                    - CC
                    - CD
                    - CF
                    - CG
                    - CH
                    - CI
                    - CK
                    - CL
                    - CM
                    - CN
                    - CO
                    - CR
                    - CU
                    - CV
                    - CX
                    - CY
                    - CZ
                    - DE
                    - DJ
                    - DK
                    - DM
                    - DO
                    - DZ
                    - EC
                    - EE
                    - EG
                    - EH
                    - ER
                    - ES
                    - ET
                    - FI
                    - FJ
                    - FK
                    - FM
                    - FO
                    - FR
                    - GA
                    - GB
                    - GD
                    - GE
                    - GF
                    - GG
                    - GH
                    - GI
                    - GL
                    - GM
                    - GN
                    - GP
                    - GQ
                    - GR
                    - GS
                    - GT
                    - GU
                    - GW
                    - GY
                    - HK
                    - HM
                    - HN
                    - HR
                    - HT
                    - HU
                    - ID
                    - IE
                    - IL
                    - IM
                    - IN
                    - IO
                    - IQ
                    - IR
                    - IS
                    - IT
                    - JE
                    - JM
                    - JO
                    - JP
                    - KE
                    - KG
                    - KH
                    - KI
                    - KM
                    - KN
                    - KP
                    - KR
                    - KW
                    - KY
                    - KZ
                    - LA
                    - LB
                    - LC
                    - LI
                    - LK
                    - LR
                    - LS
                    - LT
                    - LU
                    - LV
                    - LY
                    - MA
                    - MC
                    - MD
                    - ME
                    - MG
                    - MH
                    - MK
                    - ML
                    - MM
                    - MN
                    - MO
                    - MP
                    - MQ
                    - MR
                    - MS
                    - MT
                    - MU
                    - MV
                    - MW
                    - MX
                    - MY
                    - MZ
                    - NA
                    - NC
                    - NE
                    - NF
                    - NG
                    - NI
                    - NL
                    - 'NO'
                    - NP
                    - NR
                    - NU
                    - NZ
                    - OM
                    - PA
                    - PE
                    - PF
                    - PG
                    - PH
                    - PK
                    - PL
                    - PM
                    - PN
                    - PR
                    - PS
                    - PT
                    - PW
                    - PY
                    - QA
                    - RE
                    - RO
                    - RS
                    - RU
                    - RW
                    - SA
                    - SB
                    - SC
                    - SD
                    - SE
                    - SG
                    - SH
                    - SI
                    - SJ
                    - SK
                    - SL
                    - SM
                    - SN
                    - SO
                    - SR
                    - ST
                    - SV
                    - SY
                    - SZ
                    - TC
                    - TD
                    - TF
                    - TG
                    - TH
                    - TJ
                    - TK
                    - TL
                    - TM
                    - TN
                    - TO
                    - TR
                    - TT
                    - TV
                    - TW
                    - TZ
                    - UA
                    - UG
                    - UM
                    - US
                    - UY
                    - UZ
                    - VA
                    - VC
                    - VE
                    - VG
                    - VI
                    - VN
                    - VU
                    - WF
                    - WS
                    - YE
                    - YT
                    - ZA
                    - ZM
                    - ZW
                  minLength: 2
                  maxLength: 2
                email:
                  type: string
                  example: hermes@galisteo.me
                  minLength: 1
                  format: email
                  maxLength: 127
                name:
                  type: string
                  minLength: 1
                  example: Alvaro
                  maxLength: 127
                password:
                  type: string
                  example: 5e884898da28047151d0e56f8dc6292773603d0d6aabbdd62a11ef721d1542d8
                  pattern: '[0-9a-f]'
                  minLength: 64
                  maxLength: 64
                preferences:
                  type: array
                  example:
                    - 18
                    - 12
                    - 4
                    - 28
                    - 7
                    - 13
                    - 44
                    - 25
                    - 38
                    - 48
                    - 41
                    - 14
                    - 36
                    - 43
                  minItems: 3
                  items:
                    type: number
                    example: 18
                surname:
                  type: string
                  minLength: 1
                  example: Galisteo
                  maxLength: 127
                hCaptcha:
                  type: string
                  example: P0_eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9...
                  minLength: 1
              required:
                - country
                - email
                - name
                - password
                - preferences
                - surname
                - hCaptcha
            example:
              country: ES
              email: hermes@galisteo.me
              name: Alvaro
              password: 5e884898da28047151d0e56f8dc6292773603d0d6aabbdd62a11ef721d1542d8
              preferences:
                - 18
                - 12
                - 4
                - 28
                - 7
                - 13
                - 44
                - 25
                - 38
                - 48
                - 41
                - 14
                - 36
                - 43
              surname: Galisteo
              hCaptcha: P0_eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9...
        description: ''
      responses:
        '200':
          description: Successful signup
          headers:
            Set-Cookie:
              schema:
                type: string
                example: 'hermesSession=fTjxWw6V0URfKByuTgF0WXTo2vq05rrIKQrMzLuF1ZJ0FJPSBARfYtR8iSlcsuaI4JIdETpVWwaXeitP35vBaH7kovupVCMPnBvN0xXQHvPP2mjza0BF6GwOoQvjV1qIYbM7OmZLQ0Wi1XSCIlb5pHRuSNObOuMFqIDojWdlDzcmKuyUF8wlMdaoDbVE3OIcOs3TPKCBkXeXl8JrnBDvuPHkdWb3ATzPLlaMykVP3Nwr0USQosVNyiJSAFikZCW.rCvkESdfTiRdzP0iRVl3%2B%2Bfc6hWf%2FgH2532UpxS56b4; Path=/; Expires=Sun, 11 Apr 2021 11:33:58 GMT;'
          content: {}
        '400':
          description: Missing or bad attributes
          content: {}
        '403':
          description: User already exists
          content: {}
  '/api/places/info/{id}':
    get:
      security:
        - hermesSession: []
      tags:
        - Places
      summary: Get place info
      description: Get information about a place.
      operationId: getPlaceInfo
      responses:
        '200':
          description: Get place info
          content:
            application/json:
              schema:
                type: object
                properties:
                  place:
                    type: object
                    properties:
                      address:
                        type: string
                        example: 'Paseo de las Delicias, 61'
                      categories:
                        type: array
                        example:
                          - Museos de arte
                          - Lugares históricos
                          - Museos
                        items:
                          type: string
                          example: Museos de arte
                      city:
                        type: string
                        example: Madrid
                      country:
                        type: string
                        example: España
                      description:
                        type: string
                        example: 'Museo de la historia del ferrocarril en una antigua gran estación, con vagones, locomotoras y documentos.'
                        minLength: 1
                      facebook:
                        type: string
                        nullable: true
                        example: null
                      fsqId:
                        type: string
                        example: 4adcda39f964a5209f3c21e3
                      gmapsUrl:
                        type: string
                        example: 'https://www.google.com/maps/search/Museo+del+Ferrocarril+(Antigua+Estaci%C3%B3n+de+Delicias)+Madrid/@40.398767,-3.6926109,18z/data=!3m1!4b1'
                        format: uri
                        minLength: 1
                      id:
                        type: number
                        example: 39
                      images:
                        type: number
                        example: 1
                        minimum: 0
                        description: |-
                          Number of images that the place has.
                          Images are stored in `/assets/places/{placeId}/{imageCount}.jpg`
                      instagram:
                        type: string
                        nullable: true
                        example: null
                      lat:
                        type: number
                        example: 40.3993
                      lon:
                        type: number
                        example: -3.69215
                      name:
                        type: string
                        minLength: 1
                        example: Museo del Ferrocarril
                      osmId:
                        type: string
                        example: node/317911511
                      phone:
                        type: string
                        nullable: true
                        example: +34 902 22 88 22
                      placeUrl:
                        type: string
                        nullable: true
                        example: 'http://www.museodelferrocarril.org'
                        format: uri
                        minLength: 1
                      postalCode:
                        type: string
                        example: '28045'
                      rating:
                        type: number
                        example: 4.5
                      state:
                        type: string
                        example: Comunidad de Madrid
                      timeSpent:
                        type: number
                        example: 2
                      tripadvisorUrl:
                        type: string
                        nullable: true
                        example: null
                        format: uri
                        minLength: 1
                      twitter:
                        type: string
                        nullable: true
                        example: m_ferrocarril
                      wheelchair:
                        type: boolean
                        example: true
                      wikidata:
                        type: string
                        nullable: true
                        example: Q6034436
                        pattern: Q.+
                        minLength: 1
                      wikipedia:
                        type: string
                        nullable: true
                        example: 'es:Museo del Ferrocarril de Madrid'
                        pattern: 'es:.+'
                        minLength: 1
                      categoriesId:
                        type: array
                        example:
                          - 37
                          - 27
                          - 13
                        minItems: 1
                        items:
                          type: integer
                          minimum: 1
                          example: 16
              examples:
                Get place info:
                  value:
                    place:
                      address: 'Paseo de las Delicias, 61'
                      categories:
                        - Museos de arte
                        - Lugares históricos
                        - Museos
                      categoriesId:
                        - 10
                        - 6
                        - 2
                      city: Madrid
                      country: España
                      description: 'Museo de la historia del ferrocarril en una antigua gran estación, con vagones, locomotoras y documentos.'
                      facebook: null
                      fsqId: 4adcda39f964a5209f3c21e3
                      gmapsUrl: 'https://www.google.com/maps/search/Museo+del+Ferrocarril+(Antigua+Estaci%C3%B3n+de+Delicias)+Madrid/@40.398767,-3.6926109,18z/data=!3m1!4b1'
                      id: 39
                      images: 1
                      instagram: null
                      lat: 40.3993
                      lon: -3.69215
                      name: Museo del Ferrocarril
                      osmId: node/317911511
                      phone: +34 902 22 88 22
                      placeUrl: 'http://www.museodelferrocarril.org'
                      postalCode: '28045'
                      rating: 0
                      state: Comunidad de Madrid
                      timeSpent: 2
                      tripadvisorUrl: null
                      twitter: m_ferrocarril
                      wheelchair: true
                      wikidata: Q6034436
                      wikipedia: 'es:Museo del Ferrocarril de Madrid'
        '404':
          description: Place not found
          content:
            text/plain:
              examples:
                Place not found:
                  value: ''
    parameters:
      - name: id
        in: path
        required: true
        schema:
          type: number
          example: 39
  /api/places/random:
    post:
      security: []
      tags:
        - Places
      summary: Get random places
      description: 'Get 5 random places. If `ignores` is set, search will ignore this places.'
      operationId: getRandomPlaces
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                ignores:
                  type: array
                  nullable: true
                  example:
                    - 35
                    - 18
                    - 12
                    - 4
                    - 28
                    - 7
                    - 13
                    - 44
                    - 25
                    - 38
                    - 48
                    - 41
                    - 14
                    - 36
                    - 43
                  items:
                    type: number
                    example: 35
                max:
                  type: integer
                  minimum: 1
                  default: 5
                  maximum: 5
                  description: 'Number of maximum items to return. If bigger than 5, defaults to 5'
      responses:
        '200':
          description: Get random places
          content:
            application/json:
              schema:
                type: object
                properties:
                  places:
                    type: array
                    example:
                      - categories:
                          - Museos
                          - Museos de arte
                        description: 'Más de 60 salas de exposiciones de piezas decorativas, muchas de las cuales datan de los siglos XVI y XVII.'
                        id: 55
                        name: Museo Nacional de Artes Decorativas
                        placeUrl: 'http://mnartesdecorativas.mcu.es'
                        wikipedia: null
                        categoriesId:
                          - 2
                          - 10
                      - categories:
                          - Parques
                          - Jardínes
                          - Monumentos
                        description: 'El Bosque del Recuerdo es un monumento homenaje a las 191 víctimas de los atentados del 11 de marzo de 2004 en Madrid y al agente de las fuerzas especiales muerto con el atentado suicida el 3 de abril de 2004. Consta de 118 áreas con 192 árboles (22 olivos y 170 cipreses), uno por cada asesinado.'
                        id: 60
                        name: Bosque del Recuerdo
                        placeUrl: null
                        wikipedia: 'es:Bosque del Recuerdo'
                        categoriesId:
                          - 3
                          - 4
                          - 20
                      - categories:
                          - Esculturas al aire libre
                          - Monumentos
                          - Lugares históricos
                        description: Origen kilométrico de las carreteras españolas.Consiste en una placa en el suelo
                        id: 140
                        name: Kilómetro 0
                        placeUrl: null
                        wikipedia: 'es:Anexo:Carreteras Radiales de España#Kilómetro_cero'
                        categoriesId:
                          - 18
                          - 20
                          - 6
                      - categories:
                          - Plazas públicas
                        description: Pequeño espacio peatonal conocido como el corazón de la comunidad gay.
                        id: 177
                        name: Plaza de Chueca
                        placeUrl: null
                        wikipedia: 'es:Plaza_de_Chueca'
                        categoriesId:
                          - 16
                      - categories:
                          - Galerías de arte
                        description: Galería de arte contemporánea
                        id: 192
                        name: Galería standARTe
                        placeUrl: null
                        wikipedia: null
                        categoriesId:
                          - 12
                    items:
                      type: object
                      properties:
                        categories:
                          type: array
                          example:
                            - Museos
                            - Museos de arte
                          items:
                            type: string
                            example: Museos
                        description:
                          type: string
                          example: 'Más de 60 salas de exposiciones de piezas decorativas, muchas de las cuales datan de los siglos XVI y XVII.'
                          minLength: 1
                        id:
                          type: number
                          example: 55
                        name:
                          type: string
                          minLength: 1
                          example: Museo Nacional de Artes Decorativas
                        placeUrl:
                          type: string
                          nullable: true
                          example: 'http://mnartesdecorativas.mcu.es'
                          format: uri
                          minLength: 1
                        wikipedia:
                          type: string
                          nullable: true
                          example: null
                          pattern: 'es:.+'
                          minLength: 1
                        categoriesId:
                          type: array
                          example:
                            - 37
                            - 27
                            - 13
                          minItems: 1
                          items:
                            type: integer
                            minimum: 1
                            example: 16
              examples:
                Get random places:
                  value:
                    places:
                      - categories:
                          - Museos
                          - Museos de arte
                        description: 'Más de 60 salas de exposiciones de piezas decorativas, muchas de las cuales datan de los siglos XVI y XVII.'
                        id: 55
                        name: Museo Nacional de Artes Decorativas
                        placeUrl: 'http://mnartesdecorativas.mcu.es'
                        wikipedia: null
                        categoriesId:
                          - 2
                          - 10
                      - categories:
                          - Parques
                          - Jardínes
                          - Monumentos
                        description: 'El Bosque del Recuerdo es un monumento homenaje a las 191 víctimas de los atentados del 11 de marzo de 2004 en Madrid y al agente de las fuerzas especiales muerto con el atentado suicida el 3 de abril de 2004. Consta de 118 áreas con 192 árboles (22 olivos y 170 cipreses), uno por cada asesinado.'
                        id: 60
                        name: Bosque del Recuerdo
                        placeUrl: null
                        wikipedia: 'es:Bosque del Recuerdo'
                        categoriesId:
                          - 3
                          - 4
                          - 20
                      - categories:
                          - Esculturas al aire libre
                          - Monumentos
                          - Lugares históricos
                        description: Origen kilométrico de las carreteras españolas.Consiste en una placa en el suelo
                        id: 140
                        name: Kilómetro 0
                        placeUrl: null
                        wikipedia: 'es:Anexo:Carreteras Radiales de España#Kilómetro_cero'
                        categoriesId:
                          - 18
                          - 20
                          - 6
                      - categories:
                          - Plazas públicas
                        description: Pequeño espacio peatonal conocido como el corazón de la comunidad gay.
                        id: 177
                        name: Plaza de Chueca
                        placeUrl: null
                        wikipedia: 'es:Plaza_de_Chueca'
                        categoriesId:
                          - 16
                      - categories:
                          - Galerías de arte
                        description: Galería de arte contemporánea
                        id: 192
                        name: Galería standARTe
                        placeUrl: null
                        wikipedia: null
                        categoriesId:
                          - 12
  '/api/places/search/{query}':
    get:
      security:
        - hermesSession: []
      tags:
        - Places
      summary: Search places
      description: |-
        Search for a place.

        If no place is found, `result` is empty.
      operationId: searchPlaces
      responses:
        '200':
          description: Search specific place
          content:
            application/json:
              schema:
                type: object
                properties:
                  result:
                    type: array
                    example:
                      - address: 'Calle Ruiz de Alarcón, 23'
                        categories:
                          - Museos de arte
                          - Museos
                        categoriesId:
                          - 10
                          - 6
                          - 2
                        city: Madrid
                        country: España
                        description: 'Colección de obras de arte de los siglos XII a XIX y obras maestras de Velázquez, Goya y el Greco.'
                        facebook: '139425773362'
                        fsqId: 4adcda37f964a520fd3b21e3
                        gmapsUrl: 'https://www.google.com/maps/place/Museo+Nacional+del+Prado/@40.4137818,-3.6921271,17z/data=!3m1!4b1!4m5!3m4!1s0xd42289d66d8a2ed:0x1094f07d93ad885a!8m2!3d40.4137818!4d-3.6921271'
                        id: 43
                        images: 1
                        instagram: museoprado
                        lat: 40.4138
                        lon: -3.69201
                        name: Museo Nacional del Prado
                        osmId: relation/7726080
                        phone: +34 913 30 28 00
                        placeUrl: 'http://www.museodelprado.es'
                        postalCode: '28014'
                        rating: 5
                        state: Comunidad de Madrid
                        timeSpent: 3
                        tripadvisorUrl: null
                        twitter: museodelprado
                        wheelchair: true
                        wikidata: Q160112
                        wikipedia: 'es:Museo del Prado'
                    items:
                      type: object
                      properties:
                        address:
                          type: string
                          example: 'Calle Ruiz de Alarcón, 23'
                        categories:
                          type: array
                          example:
                            - Museos de arte
                            - Museos
                          items:
                            type: string
                            example: Museos de arte
                        city:
                          type: string
                          example: Madrid
                        country:
                          type: string
                          example: España
                        description:
                          type: string
                          example: 'Colección de obras de arte de los siglos XII a XIX y obras maestras de Velázquez, Goya y el Greco.'
                        facebook:
                          type: string
                          nullable: true
                          example: '139425773362'
                        fsqId:
                          type: string
                          example: 4adcda37f964a520fd3b21e3
                        gmapsUrl:
                          type: string
                          example: 'https://www.google.com/maps/place/Museo+Nacional+del+Prado/@40.4137818,-3.6921271,17z/data=!3m1!4b1!4m5!3m4!1s0xd42289d66d8a2ed:0x1094f07d93ad885a!8m2!3d40.4137818!4d-3.6921271'
                          minLength: 1
                          format: uri
                        id:
                          type: number
                          example: 43
                        images:
                          type: number
                          example: 1
                          minimum: 0
                          description: |-
                            Number of images that the place has.
                            Images are stored in `/assets/places/{placeId}/{imageCount}.jpg`
                        instagram:
                          type: string
                          nullable: true
                          example: museoprado
                        lat:
                          type: number
                          example: 40.4138
                        lon:
                          type: number
                          example: -3.69201
                        name:
                          type: string
                          minLength: 1
                          example: Museo Nacional del Prado
                        osmId:
                          type: string
                          example: relation/7726080
                        phone:
                          type: string
                          nullable: true
                          example: +34 913 30 28 00
                        placeUrl:
                          type: string
                          nullable: true
                          example: 'http://www.museodelprado.es'
                          minLength: 1
                          format: uri
                        postalCode:
                          type: string
                          example: '28014'
                        rating:
                          type: number
                          example: 5
                        state:
                          type: string
                          example: Comunidad de Madrid
                        timeSpent:
                          type: number
                          example: 3
                        tripadvisorUrl:
                          type: string
                          nullable: true
                          example: null
                          format: uri
                          minLength: 1
                        twitter:
                          type: string
                          nullable: true
                          example: museodelprado
                        wheelchair:
                          type: boolean
                          example: true
                        wikidata:
                          type: string
                          nullable: true
                          example: Q160112
                          pattern: Q.+
                        wikipedia:
                          type: string
                          nullable: true
                          example: 'es:Museo del Prado'
                          pattern: 'es:.+'
                        categoriesId:
                          type: array
                          example:
                            - 37
                            - 27
                            - 13
                          minItems: 1
                          items:
                            type: integer
                            example: 16
                            minimum: 1
              examples:
                Search specific place:
                  value:
                    result:
                      - address: 'Calle Ruiz de Alarcón, 23'
                        categories:
                          - Museos de arte
                          - Museos
                        categoriesId:
                          - 10
                          - 2
                        city: Madrid
                        country: España
                        description: 'Colección de obras de arte de los siglos XII a XIX y obras maestras de Velázquez, Goya y el Greco.'
                        facebook: '139425773362'
                        fsqId: 4adcda37f964a520fd3b21e3
                        gmapsUrl: 'https://www.google.com/maps/place/Museo+Nacional+del+Prado/@40.4137818,-3.6921271,17z/data=!3m1!4b1!4m5!3m4!1s0xd42289d66d8a2ed:0x1094f07d93ad885a!8m2!3d40.4137818!4d-3.6921271'
                        id: 43
                        images: 1
                        instagram: museoprado
                        lat: 40.4138
                        lon: -3.69201
                        name: Museo Nacional del Prado
                        osmId: relation/7726080
                        phone: +34 913 30 28 00
                        placeUrl: 'http://www.museodelprado.es'
                        postalCode: '28014'
                        rating: 5
                        state: Comunidad de Madrid
                        timeSpent: 3
                        tripadvisorUrl: null
                        twitter: museodelprado
                        wheelchair: true
                        wikidata: Q160112
                        wikipedia: 'es:Museo del Prado'
    post:
      security:
        - hermesSession: []
      tags:
        - Places
      summary: Search places
      description: |-
        Search for a place. If `ignores` is set, search will ignore this places.

        If no place is found, `result` is empty.
      operationId: searchPlaces1
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                ignores:
                  type: array
                  nullable: true
                  example:
                    - 35
                    - 18
                    - 12
                    - 4
                    - 28
                    - 7
                    - 13
                    - 44
                    - 25
                    - 38
                    - 48
                    - 41
                    - 14
                    - 36
                    - 43
                  items:
                    type: number
                    example: 35
                max:
                  type: integer
                  description: 'Number of maximum items to return. If bigger than 25, defaults to 25'
                  default: 25
                  minimum: 1
                  maximum: 25
      responses:
        '200':
          description: Search multiple places with ignores
          content:
            application/json:
              schema:
                type: object
                properties:
                  result:
                    type: array
                    items:
                      type: object
                      properties:
                        address:
                          type: string
                          example: 'Calle Ruiz de Alarcón, 23'
                        categories:
                          type: array
                          items:
                            type: string
                            example: Museos de arte
                          example:
                            - Museos de arte
                            - Museos
                        categoriesId:
                          type: array
                          example:
                            - 37
                            - 27
                            - 13
                          minItems: 1
                          items:
                            type: integer
                            minimum: 1
                            example: 16
                        city:
                          type: string
                          example: Madrid
                        country:
                          type: string
                          example: España
                        description:
                          type: string
                          example: 'Colección de obras de arte de los siglos XII a XIX y obras maestras de Velázquez, Goya y el Greco.'
                        facebook:
                          type: string
                          nullable: true
                          example: '139425773362'
                        fsqId:
                          type: string
                          example: 4adcda37f964a520fd3b21e3
                        gmapsUrl:
                          type: string
                          example: 'https://www.google.com/maps/place/Museo+Nacional+del+Prado/@40.4137818,-3.6921271,17z/data=!3m1!4b1!4m5!3m4!1s0xd42289d66d8a2ed:0x1094f07d93ad885a!8m2!3d40.4137818!4d-3.6921271'
                        id:
                          type: number
                          example: 43
                        images:
                          type: number
                          example: 1
                          minimum: 0
                          description: |-
                            Number of images that the place has.
                            Images are stored in `/assets/places/{placeId}/{imageCount}.jpg`
                        instagram:
                          type: string
                          nullable: true
                          example: museoprado
                        lat:
                          type: number
                          example: 40.4138
                        lon:
                          type: number
                          example: -3.69201
                        name:
                          type: string
                          minLength: 1
                          example: Museo Nacional del Prado
                        osmId:
                          type: string
                          example: relation/7726080
                        phone:
                          type: string
                          nullable: true
                          example: +34 913 30 28 00
                        placeUrl:
                          type: string
                          nullable: true
                          example: 'http://www.museodelprado.es'
                        postalCode:
                          type: string
                          example: '28014'
                        rating:
                          type: number
                          example: 5
                        state:
                          type: string
                          example: Comunidad de Madrid
                        timeSpent:
                          type: number
                          example: 3
                        tripadvisorUrl:
                          type: string
                          nullable: true
                          example: null
                        twitter:
                          type: string
                          nullable: true
                          example: museodelprado
                        wheelchair:
                          type: boolean
                          example: true
                        wikidata:
                          type: string
                          nullable: true
                          example: Q160112
                        wikipedia:
                          type: string
                          nullable: true
                          example: 'es:Museo del Prado'
                    example:
                      - address: 'Calle Ruiz de Alarcón, 23'
                        categories:
                          - Museos de arte
                          - Museos
                        categoriesId:
                          - 10
                          - 2
                        city: Madrid
                        country: España
                        description: 'Colección de obras de arte de los siglos XII a XIX y obras maestras de Velázquez, Goya y el Greco.'
                        facebook: '139425773362'
                        fsqId: 4adcda37f964a520fd3b21e3
                        gmapsUrl: 'https://www.google.com/maps/place/Museo+Nacional+del+Prado/@40.4137818,-3.6921271,17z/data=!3m1!4b1!4m5!3m4!1s0xd42289d66d8a2ed:0x1094f07d93ad885a!8m2!3d40.4137818!4d-3.6921271'
                        id: 43
                        images: 1
                        instagram: museoprado
                        lat: 40.4138
                        lon: -3.69201
                        name: Museo Nacional del Prado
                        osmId: relation/7726080
                        phone: +34 913 30 28 00
                        placeUrl: 'http://www.museodelprado.es'
                        postalCode: '28014'
                        rating: 5
                        state: Comunidad de Madrid
                        timeSpent: 3
                        tripadvisorUrl: null
                        twitter: museodelprado
                        wheelchair: true
                        wikidata: Q160112
                        wikipedia: 'es:Museo del Prado'
                      - address: 'Avenida Juan de Herrera, 2'
                        categories:
                          - Museos de arte
                          - Museos de historia
                          - Museos
                        categoriesId:
                          - 10
                          - 7
                          - 2
                        city: Madrid
                        country: España
                        description: 'Edificio de carácter monumental, construido en 1969. Su objetivo es promover el conocimiento de la evolución histórica de la indumentaria y de los testimonios del patrimonio etnológico representativos de las culturas de los pueblos de España.'
                        facebook: '357948369351'
                        fsqId: 4adcda39f964a520bd3c21e3
                        gmapsUrl: 'https://www.google.com/maps/place/Museo+del+Traje/@40.4400889,-3.7298308,18.75z/data=!4m12!1m6!3m5!1s0xd4228397bb6de69:0xb057d9a324696202!2sCaf%C3%A9+de+Oriente+(Ubicado+en+el+Museo+del+Traje)!8m2!3d40.4400972!4d-3.7296806!3m4!1s0xd422968da3782d3:0x48d7713174738e82!8m2!3d40.4401358!4d-3.7286856'
                        id: 90
                        images: 2
                        instagram: null
                        lat: 40.4401
                        lon: -3.72884
                        name: Museo del Traje
                        osmId: relation/2027964
                        phone: +34 915 50 47 00
                        placeUrl: 'http://museodeltraje.mcu.es'
                        postalCode: '28040'
                        rating: 0
                        state: Comunidad de Madrid
                        timeSpent: 2
                        tripadvisorUrl: null
                        twitter: museodeltraje
                        wheelchair: true
                        wikidata: Q9047135
                        wikipedia: 'es:Museo del Traje (Madrid)'
                      - address: 'Calle de San Mateo, 13'
                        categories:
                          - Museos de arte
                          - Museos
                        categoriesId:
                          - 10
                          - 2
                        city: Madrid
                        country: España
                        description: 'Palacio del s. XVIII con pinturas y mobiliario de la época romántica, además de una cafetería en el jardín.'
                        facebook: null
                        fsqId: 4c62ceed79d1e21e7ef5d615
                        gmapsUrl: 'https://www.google.com/maps/place/Museo+del+Romanticismo/@40.4258364,-3.6988403,17z/data=!3m1!4b1!4m5!3m4!1s0xd42288920b0b775:0x27cd4c564fdc2d65!8m2!3d40.4258364!4d-3.6988403'
                        id: 159
                        images: 2
                        instagram: null
                        lat: 40.4259
                        lon: -3.69878
                        name: Museo del Romanticismo
                        osmId: way/174852233
                        phone: +34 914 48 10 45
                        placeUrl: 'http://museoromanticismo.mcu.es/index.html'
                        postalCode: '28004'
                        rating: 0
                        state: Comunidad de Madrid
                        timeSpent: 2
                        tripadvisorUrl: null
                        twitter: mromanticismo
                        wheelchair: true
                        wikidata: Q6974501
                        wikipedia: 'es:Museo Nacional del Romanticismo (Madrid)'
              examples:
                Search multiple places with ignores:
                  value:
                    result:
                      - address: 'Calle Ruiz de Alarcón, 23'
                        categories:
                          - Museos de arte
                          - Museos
                        categoriesId:
                          - 10
                          - 2
                        city: Madrid
                        country: España
                        description: 'Colección de obras de arte de los siglos XII a XIX y obras maestras de Velázquez, Goya y el Greco.'
                        facebook: '139425773362'
                        fsqId: 4adcda37f964a520fd3b21e3
                        gmapsUrl: 'https://www.google.com/maps/place/Museo+Nacional+del+Prado/@40.4137818,-3.6921271,17z/data=!3m1!4b1!4m5!3m4!1s0xd42289d66d8a2ed:0x1094f07d93ad885a!8m2!3d40.4137818!4d-3.6921271'
                        id: 43
                        images: 1
                        instagram: museoprado
                        lat: 40.4138
                        lon: -3.69201
                        name: Museo Nacional del Prado
                        osmId: relation/7726080
                        phone: +34 913 30 28 00
                        placeUrl: 'http://www.museodelprado.es'
                        postalCode: '28014'
                        rating: 5
                        state: Comunidad de Madrid
                        timeSpent: 3
                        tripadvisorUrl: null
                        twitter: museodelprado
                        wheelchair: true
                        wikidata: Q160112
                        wikipedia: 'es:Museo del Prado'
                      - address: 'Avenida Juan de Herrera, 2'
                        categories:
                          - Museos de arte
                          - Museos de historia
                          - Museos
                        categoriesId:
                          - 10
                          - 7
                          - 2
                        city: Madrid
                        country: España
                        description: 'Edificio de carácter monumental, construido en 1969. Su objetivo es promover el conocimiento de la evolución histórica de la indumentaria y de los testimonios del patrimonio etnológico representativos de las culturas de los pueblos de España.'
                        facebook: '357948369351'
                        fsqId: 4adcda39f964a520bd3c21e3
                        gmapsUrl: 'https://www.google.com/maps/place/Museo+del+Traje/@40.4400889,-3.7298308,18.75z/data=!4m12!1m6!3m5!1s0xd4228397bb6de69:0xb057d9a324696202!2sCaf%C3%A9+de+Oriente+(Ubicado+en+el+Museo+del+Traje)!8m2!3d40.4400972!4d-3.7296806!3m4!1s0xd422968da3782d3:0x48d7713174738e82!8m2!3d40.4401358!4d-3.7286856'
                        id: 90
                        images: 2
                        instagram: null
                        lat: 40.4401
                        lon: -3.72884
                        name: Museo del Traje
                        osmId: relation/2027964
                        phone: +34 915 50 47 00
                        placeUrl: 'http://museodeltraje.mcu.es'
                        postalCode: '28040'
                        rating: 0
                        state: Comunidad de Madrid
                        timeSpent: 2
                        tripadvisorUrl: null
                        twitter: museodeltraje
                        wheelchair: true
                        wikidata: Q9047135
                        wikipedia: 'es:Museo del Traje (Madrid)'
                      - address: 'Calle de San Mateo, 13'
                        categories:
                          - Museos de arte
                          - Museos
                        categoriesId:
                          - 10
                          - 2
                        city: Madrid
                        country: España
                        description: 'Palacio del s. XVIII con pinturas y mobiliario de la época romántica, además de una cafetería en el jardín.'
                        facebook: null
                        fsqId: 4c62ceed79d1e21e7ef5d615
                        gmapsUrl: 'https://www.google.com/maps/place/Museo+del+Romanticismo/@40.4258364,-3.6988403,17z/data=!3m1!4b1!4m5!3m4!1s0xd42288920b0b775:0x27cd4c564fdc2d65!8m2!3d40.4258364!4d-3.6988403'
                        id: 159
                        images: 2
                        instagram: null
                        lat: 40.4259
                        lon: -3.69878
                        name: Museo del Romanticismo
                        osmId: way/174852233
                        phone: +34 914 48 10 45
                        placeUrl: 'http://museoromanticismo.mcu.es/index.html'
                        postalCode: '28004'
                        rating: 0
                        state: Comunidad de Madrid
                        timeSpent: 2
                        tripadvisorUrl: null
                        twitter: mromanticismo
                        wheelchair: true
                        wikidata: Q6974501
                        wikipedia: 'es:Museo Nacional del Romanticismo (Madrid)'
    parameters:
      - name: query
        in: path
        required: true
        schema:
          type: string
          example: museo de
  /api/plans/create:
    post:
      security:
        - hermesSession: []
      tags:
        - Planner
      summary: Create a new plan
      description: Creates a new plan.
      operationId: createANewPlan
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                dayEnd:
                  type: number
                  example: 1080
                  minimum: 0
                dayStart:
                  type: number
                  example: 540
                  minimum: 0
                description:
                  type: string
                  nullable: true
                  example: Ruta por lugares importantes de Madrid
                endDate:
                  type: string
                  example: '2021-05-02T00:00:00.000Z'
                  format: date-time
                name:
                  type: string
                  minLength: 1
                  example: Visita por Madrid
                places:
                  type: array
                  example:
                    - 2
                    - 21
                    - 34
                    - 43
                    - 49
                    - 59
                    - 62
                    - 70
                    - 121
                    - 122
                    - 123
                    - 133
                    - 139
                    - 140
                    - 143
                    - 156
                    - 162
                    - 163
                    - 164
                    - 165
                    - 175
                    - 180
                    - 246
                    - 253
                  minItems: 3
                  uniqueItems: true
                  items:
                    type: number
                    example: 2
                start:
                  type: object
                  required:
                    - lat
                    - lon
                  properties:
                    lat:
                      type: number
                      example: 40.41669813586243
                    lon:
                      type: number
                      example: -3.703207969665528
                startDate:
                  type: string
                  example: '2021-04-28T00:00:00.000Z'
                  format: date-time
              required:
                - dayEnd
                - dayStart
                - description
                - endDate
                - name
                - places
                - start
                - startDate
            example:
              dayEnd: 1080
              dayStart: 540
              description: Ruta por lugares importantes de Madrid
              endDate: '2021-05-02T00:00:00.000Z'
              name: Visita por Madrid
              places:
                - 2
                - 21
                - 34
                - 43
                - 49
                - 59
                - 62
                - 70
                - 121
                - 122
                - 123
                - 133
                - 139
                - 140
                - 143
                - 156
                - 162
                - 163
                - 164
                - 165
                - 175
                - 180
                - 246
                - 253
              start:
                lat: 40.41669813586243
                lon: -3.703207969665528
              startDate: '2021-04-28T00:00:00.000Z'
      responses:
        '200':
          description: Successful creation
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: number
                    example: 14
              examples:
                Successful creation:
                  value:
                    id: 14
        '400':
          description: Missing or bad attributes
          content:
            text/plain:
              examples:
                Missing or bad attributes:
                  value: ''
  /api/plans/delete:
    post:
      security:
        - hermesSession: []
      tags:
        - Planner
      summary: Delete a plan
      description: Deletes an existing plan.
      operationId: deleteAPlan
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                id:
                  type: number
                  example: 12
              required:
                - id
            example:
              id: 12
      responses:
        '200':
          description: Successful deletion
          content: {}
        '400':
          description: Missing or bad attribute
          content: {}
        '403':
          description: Plan not found or does not belong to user
          content: {}
  /api/plans/get:
    post:
      security:
        - hermesSession: []
      tags:
        - Planner
      summary: Get a plan
      description: |-
        Returns a plan with its items.

        Items in a plan have a type, identified by a number:

        - 0: Empty item.
        - 1: Place
        - 2: Starting point.
        - 3: Wait
        - 4: Rest
        - 5: Custom item.

        **Note**: By default, place data is empty, except when type is 1.

        Statuses can be:

        - -1: Internal error while planning.
        - 0: Plan is created and OK
        - 1: Plan is being planned.
        - 2: Planner has timed out. No solution found.
        - 3: Planner found no solution.
        - 4: Plan is completed.
      operationId: getAPlan
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                id:
                  type: number
                  example: 13
              required:
                - id
            example:
              id: 13
      responses:
        '200':
          description: Successful request
          content:
            application/json:
              schema:
                description: ''
                type: object
                properties:
                  plan:
                    type: object
                    properties:
                      id:
                        type: number
                      status:
                        type: number
                      name:
                        type: string
                        minLength: 1
                      description:
                        type: string
                        minLength: 0
                      startDate:
                        type: string
                        minLength: 1
                      endDate:
                        type: string
                        minLength: 1
                      startLat:
                        type: number
                      startLon:
                        type: number
                      dayStart:
                        type: number
                      dayEnd:
                        type: number
                  items:
                    type: array
                    uniqueItems: true
                    minItems: 1
                    items:
                      type: object
                      properties:
                        id:
                          type: number
                        name:
                          nullable: true
                          type: string
                          description: 'If item corresponds to a place, `name` will be the name of the place'
                        description:
                          nullable: true
                          type: string
                          description: 'If item corresponds to a place, `description` will be the description of the place'
                        place:
                          type: object
                          nullable: true
                          properties:
                            address:
                              type: string
                            city:
                              type: string
                            country:
                              type: string
                            facebook:
                              nullable: true
                              type: string
                            gmapsUrl:
                              type: string
                            images:
                              type: number
                              minimum: 0
                              description: |-
                                Number of images that the place has.
                                Images are stored in `/assets/places/{placeId}/{imageCount}.jpg`
                            instagram:
                              nullable: true
                              type: string
                            phone:
                              nullable: true
                              type: string
                            placeUrl:
                              nullable: true
                              type: string
                            postalCode:
                              type: string
                            state:
                              type: string
                            twitter:
                              nullable: true
                              type: string
                            wikipedia:
                              nullable: true
                              type: string
                            id:
                              type: number
                            categories:
                              type: array
                              minItems: 1
                              items:
                                type: string
                                minLength: 1
                                example: Museos de ciencia
                            categoriesId:
                              type: array
                              minItems: 1
                              items:
                                type: integer
                                example: 16
                                minimum: 1
                        lat:
                          type: number
                        lon:
                          type: number
                        order:
                          type: number
                        day:
                          type: number
                        startTime:
                          type: string
                          minLength: 1
                        endTime:
                          type: string
                          minLength: 1
                        type:
                          type: number
                        timeSpent:
                          type: number
                        travelNext:
                          type: number
                        travelMode:
                          type: string
                          minLength: 1
                        notes:
                          type: string
                          nullable: true
              examples:
                Successful request:
                  value:
                    plan:
                      id: 44
                      status: 0
                      name: Madrid
                      description: Visita por lugares más conocidos de Madrid
                      startDate: '2021-04-19T00:00:00.000Z'
                      endDate: '2021-04-20T00:00:00.000Z'
                      startLat: 40.4167
                      startLon: -3.70321
                      dayStart: 540
                      dayEnd: 1080
                    items:
                      - id: 864
                        name: null
                        description: null
                        place: null
                        lat: 40.4167
                        lon: -3.70321
                        order: 0
                        day: 0
                        startTime: '09:00'
                        endTime: '09:00'
                        type: 2
                        timeSpent: 0
                        travelNext: 10
                        travelMode: walking
                        notes: null
                      - id: 865
                        name: Teatro Real
                        description: 'Famosa ópera, fundada en 1850, con espectáculos frecuentes, visitas guiadas y un magnífico diseño.'
                        place:
                          address: 'Plaza de Isabel II, s/n'
                          city: Madrid
                          country: España
                          facebook: null
                          gmapsUrl: 'https://www.google.com/maps/place/Teatro+Real/@40.418299,-3.710578,17z/data=!3m1!4b1!4m5!3m4!1s0xd42287bd0788e65:0xa28363ebaaa7adae!8m2!3d40.418299!4d-3.710578'
                          id: 19
                          images: 1
                          instagram: null
                          phone: +34 915 16 06 60
                          placeUrl: 'http://www.teatro-real.com'
                          postalCode: '28001'
                          state: Comunidad de Madrid
                          twitter: null
                          wikipedia: 'es:Teatro Real (Madrid)'
                        lat: 40.4182
                        lon: -3.71058
                        order: 1
                        day: 0
                        startTime: '09:10'
                        endTime: '09:25'
                        type: 1
                        timeSpent: 15
                        travelNext: 7
                        travelMode: walking
                        notes: null
                      - id: 866
                        name: Plaza de San Martín
                        description: 'Plaza que toma su nombre del desaparecido convento de San Martín. En la actualidad, en su perímetro se encuentra el Hotel Palacio San Martín y diversas oficinas de servicio público.'
                        place:
                          address: 'Plaza de San Martín, s/n'
                          city: Madrid
                          country: España
                          facebook: null
                          gmapsUrl: 'https://www.google.com/maps/place/Plaza+de+San+Mart%C3%ADn/@40.4184211,-3.7067854,17z/data=!3m1!4b1!4m5!3m4!1s0xd42287c19b3d3ed:0x670e32b104d81bc!8m2!3d40.4184211!4d-3.7067854'
                          id: 16
                          images: 0
                          instagram: null
                          phone: null
                          placeUrl: null
                          postalCode: '28001'
                          state: Comunidad de Madrid
                          twitter: null
                          wikipedia: 'es:Plaza_de_San_Martín_(Madrid)'
                        lat: 40.4184
                        lon: -3.70691
                        order: 2
                        day: 0
                        startTime: '09:32'
                        endTime: '09:47'
                        type: 1
                        timeSpent: 15
                        travelNext: 3
                        travelMode: walking
                        notes: null
                      - id: 867
                        name: Iglesia de San Ginés
                        description: 'Iglesia de entre las más antiguas de Madrid, reconstruida en 1645, con pinturas de El Greco y de Alonso Cano.'
                        place:
                          address: 'Calle Arenal, 13'
                          city: Madrid
                          country: España
                          facebook: null
                          gmapsUrl: 'https://www.google.com/maps/place/Parroquia+de+San+Gin%C3%A9s/@40.4172532,-3.7070675,17z/data=!3m1!4b1!4m5!3m4!1s0xd42287eba28c6c3:0x9728651b7342882e!8m2!3d40.4172532!4d-3.7070675'
                          id: 144
                          images: 1
                          instagram: null
                          phone: null
                          placeUrl: 'http://www.parroquiadesangines.es/'
                          postalCode: '28013'
                          state: Comunidad de Madrid
                          twitter: null
                          wikipedia: 'es:Iglesia de San Ginés de Arlés (Madrid)'
                        lat: 40.417
                        lon: -3.70701
                        order: 3
                        day: 0
                        startTime: '09:50'
                        endTime: '10:05'
                        type: 1
                        timeSpent: 15
                        travelNext: 19
                        travelMode: walking
                        notes: null
                      - id: 868
                        name: Museo Nacional del Prado
                        description: 'Colección de obras de arte de los siglos XII a XIX y obras maestras de Velázquez, Goya y el Greco.'
                        place:
                          address: 'Calle Ruiz de Alarcón, 23'
                          city: Madrid
                          country: España
                          facebook: '139425773362'
                          gmapsUrl: 'https://www.google.com/maps/place/Museo+Nacional+del+Prado/@40.4137818,-3.6921271,17z/data=!3m1!4b1!4m5!3m4!1s0xd42289d66d8a2ed:0x1094f07d93ad885a!8m2!3d40.4137818!4d-3.6921271'
                          id: 43
                          images: 1
                          instagram: museoprado
                          phone: +34 913 30 28 00
                          placeUrl: 'http://www.museodelprado.es'
                          postalCode: '28014'
                          state: Comunidad de Madrid
                          twitter: museodelprado
                          wikipedia: 'es:Museo del Prado'
                        lat: 40.4138
                        lon: -3.69201
                        order: 4
                        day: 0
                        startTime: '10:24'
                        endTime: '10:39'
                        type: 1
                        timeSpent: 15
                        travelNext: -1
                        travelMode: walking
                        notes: null
                      - id: 869
                        name: null
                        description: null
                        place: null
                        lat: 40.4167
                        lon: -3.70321
                        order: 0
                        day: 1
                        startTime: '09:00'
                        endTime: '09:00'
                        type: 2
                        timeSpent: 0
                        travelNext: -1
                        travelMode: walking
                        notes: null
        '403':
          description: Does not exist or belongs to another user
          content:
            text/plain:
              examples:
                Does not exist or belongs to another user:
                  value: ''
  /api/plans/length:
    post:
      security:
        - hermesSession: []
      tags:
        - Planner
      summary: Get recommended plan length
      description: 'Runs an heuristic to get recommended plan length, so planner can find a solution.'
      operationId: getRecommendedPlanLength
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                dayEnd:
                  type: number
                  example: 1080
                  minimum: 0
                dayStart:
                  type: number
                  example: 540
                  minimum: 0
                places:
                  type: array
                  example:
                    - 2
                    - 21
                    - 34
                    - 43
                    - 49
                    - 59
                    - 62
                    - 70
                    - 121
                    - 122
                    - 123
                    - 133
                    - 139
                    - 140
                    - 143
                    - 156
                    - 162
                    - 163
                    - 164
                    - 165
                    - 175
                    - 180
                    - 246
                    - 253
                  minItems: 3
                  items:
                    type: number
                    example: 2
                start:
                  type: object
                  required:
                    - lat
                    - lon
                  properties:
                    lat:
                      type: number
                      example: 40.41669813586243
                    lon:
                      type: number
                      example: -3.703207969665528
              required:
                - dayEnd
                - dayStart
                - places
                - start
            example:
              dayEnd: 1080
              dayStart: 540
              places:
                - 2
                - 21
                - 34
                - 43
                - 49
                - 59
                - 62
                - 70
                - 121
                - 122
                - 123
                - 133
                - 139
                - 140
                - 143
                - 156
                - 162
                - 163
                - 164
                - 165
                - 175
                - 180
                - 246
                - 253
              start:
                lat: 40.41669813586243
                lon: -3.703207969665528
      responses:
        '200':
          description: Successful request
          content:
            application/json:
              schema:
                type: object
                properties:
                  days:
                    type: number
                    example: 4
              examples:
                Successful request:
                  value:
                    days: 4
        '400':
          description: Missing or bad attributes
  /api/plans/list:
    get:
      security:
        - hermesSession: []
      tags:
        - Planner
      summary: List all users plans
      description: |-
        Lists all user's plans.

        Reply is split in:

        - `plans`: Contains active plans
        - `past`: Contains plans which its end date has already passed, i.e. are already completed.
      operationId: listAllUsersPlans
      responses:
        '200':
          description: Successful request
          content:
            application/json:
              schema:
                type: object
                properties:
                  active:
                    type: array
                    example:
                      - description: Ruta por lugares importantes de Madrid
                        endDate: '2021-05-02T00:00:00.000Z'
                        id: 13
                        name: Visita por Madrid 2
                        startDate: '2021-04-28T00:00:00.000Z'
                        status: 0
                    items:
                      type: object
                      properties:
                        description:
                          type: string
                          example: Ruta por lugares importantes de Madrid
                          minLength: 0
                        endDate:
                          type: string
                          example: '2021-05-02T00:00:00.000Z'
                        id:
                          type: number
                          example: 13
                        name:
                          type: string
                          minLength: 1
                          example: Visita por Madrid 2
                        startDate:
                          type: string
                          example: '2021-04-28T00:00:00.000Z'
                        status:
                          type: number
                          example: 0
                  past:
                    type: array
                    example:
                      - description: Ruta por lugares importantes de Madrid
                        endDate: '2021-04-02T00:00:00.000Z'
                        id: 11
                        name: Visita por Madrid
                        startDate: '2021-03-28T00:00:00.000Z'
                        status: 4
                    items:
                      type: object
                      properties:
                        description:
                          type: string
                          example: Ruta por lugares importantes de Madrid
                          minLength: 0
                        endDate:
                          type: string
                          example: '2021-04-02T00:00:00.000Z'
                        id:
                          type: number
                          example: 11
                        name:
                          type: string
                          minLength: 1
                          example: Visita por Madrid
                        startDate:
                          type: string
                          example: '2021-03-28T00:00:00.000Z'
                        status:
                          type: number
                          example: 4
              examples:
                Successful request:
                  value:
                    active:
                      - description: Ruta por lugares importantes de Madrid
                        endDate: '2021-05-02T00:00:00.000Z'
                        id: 13
                        name: Visita por Madrid 2
                        startDate: '2021-04-28T00:00:00.000Z'
                        status: 0
                    past:
                      - description: Ruta por lugares importantes de Madrid
                        endDate: '2021-04-02T00:00:00.000Z'
                        id: 11
                        name: Visita por Madrid
                        startDate: '2021-03-28T00:00:00.000Z'
                        status: 4
  '/api/plans/status/{id}':
    get:
      security:
        - hermesSession: []
      tags:
        - Planner
      summary: Get plan status
      description: |-
        Gets the status of a plan. Statuses can be:

        - -1: Internal error while planning.
        - 0: Plan is created and OK
        - 1: Plan is being planned.
        - 2: Planner has timed out. No solution found.
        - 3: Planner found no solution.
        - 4: Plan is completed.
      operationId: getPlanStatus
      responses:
        '200':
          description: Get plan status
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: number
                    example: 0
              examples:
                Get plan status:
                  value:
                    status: 0
        '403':
          description: Does not exist or belongs to another user
          content:
            text/plain:
              examples:
                Does not exist or belongs to another user:
                  value: ''
    parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          example: '13'
  /api/plans/update:
    put:
      security:
        - hermesSession: []
      tags:
        - Planner
      summary: Update a plan
      description: |-
        Updates a plan.

        Items in a plan have a type, identified by a number:

        - 0: Empty item.
        - 1: Place
        - 2: Starting point.
        - 3: Wait
        - 4: Rest
        - 5: Custom item.

        **Note**: By default, place data is empty, except when type is 1.

        Although the endpoint makes sure that all times are correct, and the items are correctly stored, it is mandatory that the starting points are included and that they are the first items of each day, i.e., that `order = 0`.
      operationId: updateAPlan
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                items:
                  type: array
                  example:
                    - PlaceId: null
                      day: 0
                      notes: null
                      order: 0
                      timeSpent: 0
                      type: 2
                    - PlaceId: 19
                      day: 0
                      notes: null
                      order: 1
                      timeSpent: 0
                      type: 1
                    - PlaceId: 16
                      day: 0
                      notes: null
                      order: 2
                      timeSpent: 0
                      type: 1
                    - PlaceId: 144
                      day: 0
                      notes: null
                      order: 3
                      timeSpent: 0
                      type: 1
                    - PlaceId: 43
                      day: 0
                      notes: ''
                      order: 4
                      timeSpent: 0
                      type: 1
                    - day: 1
                      notes: ''
                      order: 0
                      timeSpent: 0
                      type: 2
                  items:
                    type: object
                    properties:
                      PlaceId:
                        type: number
                        nullable: true
                        example: null
                      day:
                        type: number
                        example: 0
                      notes:
                        type: string
                        nullable: true
                        example: null
                        minLength: 0
                      order:
                        type: number
                        example: 0
                      timeSpent:
                        type: number
                        example: 0
                      type:
                        type: number
                        example: 2
                    required:
                      - day
                      - notes
                      - order
                      - timeSpent
                      - type
                plan:
                  type: object
                  required:
                    - description
                    - id
                    - name
                    - startDate
                  properties:
                    description:
                      type: string
                      example: Visita por lugares más conocidos de Madrid
                    id:
                      type: number
                      example: 12
                    name:
                      type: string
                      minLength: 1
                      example: Madrid
                    startDate:
                      type: string
                      example: '2021-04-28T00:00:00.000Z'
              required:
                - items
                - plan
            example:
              items:
                - PlaceId: null
                  day: 0
                  notes: null
                  order: 0
                  timeSpent: 0
                  type: 2
                - PlaceId: 19
                  day: 0
                  notes: null
                  order: 1
                  timeSpent: 0
                  type: 1
                - PlaceId: 16
                  day: 0
                  notes: null
                  order: 2
                  timeSpent: 0
                  type: 1
                - PlaceId: 144
                  day: 0
                  notes: null
                  order: 3
                  timeSpent: 0
                  type: 1
                - PlaceId: 43
                  day: 0
                  notes: ''
                  order: 4
                  timeSpent: 0
                  type: 1
                - day: 1
                  notes: ''
                  order: 0
                  timeSpent: 0
                  type: 2
              plan:
                description: Visita por lugares más conocidos de Madrid
                id: 12
                name: Madrid
                startDate: '2021-04-28T00:00:00.000Z'
        description: ''
      responses:
        '200':
          description: Successful update
          content: {}
        '400':
          description: Missing or bad attributes
          content: {}
        '403':
          description: Plan not found or does not belong to user
          content: {}
  /api/ratings/create:
    post:
      security:
        - hermesSession: []
      tags:
        - Ratings
      summary: Create a new rating
      description: |-
        Creates a new rating.

        Rating scale goes from 1 to 5.
      operationId: createANewRating
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                placeId:
                  type: number
                  example: 25
                rating:
                  type: number
                  example: 3
                  minimum: 1
                  maximum: 5
              required:
                - placeId
                - rating
            example:
              placeId: 25
              rating: 3
      responses:
        '200':
          description: Successful creation
          content: {}
        '400':
          description: Missing or bad attributes
          content: {}
        '404':
          description: Place not found
          content: {}
  /api/ratings/delete:
    post:
      security:
        - hermesSession: []
      tags:
[...]
